{% extends 'base.html' %}
{% load static %}
{% block title %}
All Posts
{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}

<div class="container-fluid px-md-5" style="margin-top: 40px">
    <div class="row g-4">
        <div class="col-12">
            <!-- Blog list table START -->
            <div class="card border bg-transparent rounded-3">
                <!-- Card header START -->
                <div class="card-header bg-transparent border-bottom p-3">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <h5 class="mb-2 mb-sm-0">
                            All posts
                            <span class="badge bg-primary bg-opacity-10 text-primary">105</span>
                        </h5>
                        <a href="{% url 'new_post' %}" class="btn btn-sm btn-blue mb-0">Add New</a>
                    </div>
                </div>
                <!-- Card header END -->

                <!-- Card body START -->
                <div class="card-body">
                    <!-- Search and select START -->
                    <div class="row g-3 align-items-center justify-content-between mb-3">
                        <!-- Search -->
                        <div class="col-md-8"></div>
                        <!-- Select option -->
                        <div class="col-md-2">
                            <!-- Short by filter -->
                            <form>
                                <select class="form-select z-index-9" aria-label=".form-select-sm">
                                    <option value="">Sort by</option>
                                    <option>Free</option>
                                    <option>Newest</option>
                                    <option>Oldest</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <!-- Search and select END -->

                    <!-- Blog list table START -->
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-shrink">
                            <!-- Table head -->
                            <thead class="table-dark font-cabin">
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">Post Title</th>
                                    <th scope="col" class="border-0">Author</th>
                                    <th scope="col" class="border-0">Published Date</th>
                                    <th scope="col" class="border-0">Categories</th>
                                    <th scope="col" class="border-0">Status</th>
                                    <th scope="col" class="border-0 rounded-end text-end">Action</th>
                                </tr>
                            </thead>

                            <!-- Table body START -->
                            <tbody class="border-top-0">                                
                                {% for post in paginated_posts %}
                                                                    
                                <tr>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="course-title mt-2 mt-md-0 mb-0 ">
                                            <a href="{% url 'blog:single_post' post.slug %}" class="btn-link link-dark">
                                                {{post.post_title}}
                                            </a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <h6 class="mb-0">
                                            <a href="{% url 'author_external' post.post_author.slug %}" class="btn-link link-dark">
                                                {{post.post_author.get_full_name}}
                                            </a>
                                        </h6>
                                    </td>
                                    <!-- Table data -->
                                    <td>{{post.date_posted|date:"dS M, Y"}}</td>
                                    <!-- Table data -->
                                    <td>
                                        <a href="#"
                                            class="badge text-xs text-bg-{{post.category.color}} mb-2 text-decoration-none font-outfit font-medium">
                                            <i class="fa-solid fa-layer-group me-2"></i>
                                            {{post.category}}
                                        </a>
                                    </td>
                                    <!-- Table data -->
                                    <td>
                                        <span class="badge bg-success bg-opacity-10 text-success mb-2">
                                            Live
                                        </span>
                                    </td>
                                    <!-- Table data -->
                                    <td class="text-end">
                                        <a href="#" class="btn btn-danger-soft btn-round mb-0" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Delete">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>

                                {% endfor %}
                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                    <!-- Blog list table END -->

                    <!-- Pagination START -->
                    <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-3">
                        <p class="mb-sm-0 text-md text-center text-sm-start">
                            Showing {{ paginated_posts.start_index }} to {{ paginated_posts.end_index }} of
                            {{paginated_posts.paginator.count }} entries
                        </p>
                        <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                            <ul class="pagination pagination-sm pagination-bordered mb-0">
                                {% if paginated_posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ paginated_posts.previous_page_number }}">
                                        <i class="fa-solid fa-caret-left"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled" style="opacity: 0.5;">
                                    <a class="page-link" href="#" aria-disabled="true">
                                        <i class="fa-solid fa-caret-left"></i>
                                    </a>
                                </li>
                                {% endif %}

                                {% for i in paginated_posts.adjusted_elided_pages %}
                                {% if i == paginated_posts.paginator.ELLIPSIS %}
                                <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
                                {% else %}
                                <li class="page-item {% if i == paginated_posts.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}">
                                        {{i}}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if paginated_posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ paginated_posts.next_page_number }}">
                                        <i class="fa-solid fa-caret-right"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled" style="opacity: 0.5;">
                                    <a class="page-link" href="#" aria-disabled="true">
                                        <i class="fa-solid fa-caret-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- Pagination END -->
                </div>
            </div>
            <!-- Blog list table END -->
        </div>
    </div>
</div>

<br /><br /><br /><br /><br />
{% endblock %}