{% extends 'base.html' %}
{% load static %}
{% block title %}
Readers
{% endblock title %}
{% block styles %}
<style>
   .reader-link {
      color: var(--gray-500);
      text-decoration: none;
   }

   .reader-link:hover {
      color: rgba(0, 0, 0, 0.6);
   }

   .page-link:focus {
      box-shadow: none !important;
   }

   .pagination .page-item {
      margin-bottom: 5px;
      float: left;
   }

   .pagination-bordered {
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 2px;
      border-radius: 0.25rem;
   }

   .pagination-bordered .page-item {
      margin: 2px;
   }

   .pagination-bordered .page-link {
      border: transparent;
      border-radius: 0.25rem;
   }

   .block-icon i {
      color: #dc3545;
      background-color: #FBE9EB;
      transition: .2s;
   }

   .block-icon i:hover {
      color: #fff;
      background-color: #D6293E;
      transition: .2s;
   }

   .unblock-icon i {
      color: #198754;
      background-color: #20c9974d;
      transition: .2s;
   }

   .unblock-icon i:hover {
      color: #fff;
      background-color: #198754;
      transition: .2s;
   }

   
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}



<div class="container" style="margin-top: 70px;">
   <div class="my-3 p-3 pb-1 bg-body rounded my-shadow">

      <div class="border-bottom pb-3">
         <div class="row d-flex g-3 align-items-center justify-content-between">
            <div class="col-md-4">
               <h5 class="mb-0">Readers</h5>
            </div>
            <div class="col-md-8">
               <form class="rounded position-relative">
                  <input class="form-control bg-transparent" type="search" placeholder="Search reader"
                     aria-label="Search">
                  <button
                     class="btn bg-transparent border-0 px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
                     type="submit">
                     <i class="fas fa-search fs-6"></i>
                  </button>
               </form>
            </div>
         </div>
         <!-- Search and select END -->
      </div>

      {% for reader in readers %}
      <div class="d-flex text-muted pt-3 ">

         {% if reader.profile_picture %}
         <img class="rounded flex-shrink-0 me-2" src="{{reader.profile_picture.url}}" width="40" height="40"
            alt="Reader Avatar">
         {% else %}
         <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="38" height="38"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#f5f5f5" />
            <text x="14%" class="font-medium font-outfit" y="50%" fill="#000" dy=".3em">
               {{reader.initials}}
            </text>
         </svg>
         {% endif %}

         <div class="pb-2 mb-0 lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between align-items-center">
               <strong class="font-cabin text-md">
                  <a href="{% url 'users:single_reader' request.user.slug reader.username %}" class="reader-link">
                     {{reader.get_full_name|default:"[Fullname]"}}
                  </a>
               </strong>
               {% if reader.is_active %}                  
               <a class="block-icon" data-bs-toggle="modal" data-bs-target="#blockReader{{reader.username}}" href="">
                  <i data-bs-toggle="tooltip" data-bs-title="Block Reader" class="fa-solid fa-ban text-sm p-2 rounded-circle"></i>
               </a>
               {% else %}
               <div>
                  <small class="text-danger me-1 font-medium">Blocked</small>
                  <a class="unblock-icon" data-bs-toggle="modal" data-bs-target="#unBlockReader{{reader.username}}" href="">
                     <i data-bs-toggle="tooltip" data-bs-title="Unblock Reader" class="fa-solid fa-unlock text-sm p-2 rounded-circle"></i>
                  </a>
               </div>          
               {% endif %}
            </div>
            <a href="{% url 'users:single_reader' request.user.slug reader.username %}"
               class="d-block text-sm text-gray-500 text-decoration-none font-outfit w-fit">
               @{{reader.get_username}}
            </a>
         </div>
      </div>

      <!-- ! Block user Modal -->
      <div class="modal fade" id="blockReader{{reader.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="p-2 pb-0 d-flex justify-content-end">
                  <a class="cursor-pointer cancel-modal" data-bs-dismiss="modal" aria-label="Close">
                     <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                        <path
                           d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                        </path>
                     </svg>
                  </a>
               </div>
               <div class="d-grid justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="50" height="50" fill="#dc2626"
                     viewBox="0 0 24 24">
                     <path
                        d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
                     </path>
                     <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
                  </svg>
                  <h6 class="text-center mt-3">Are you sure you want to block {{reader.username}}'s account?</h6>
               </div>
               <div class="modal-footer border-0 mb-3 d-flex justify-content-center">
                  <a href="{% url 'users:block_reader' request.user.slug reader.username %}" class="btn btn-sm btn-red">
                     Yes, I'm sure
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">No, cancel</button>
               </div>
            </div>
         </div>
      </div>


      <!-- ! UnBlock user Modal -->
      <div class="modal fade" id="unBlockReader{{reader.username}}" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="p-2 pb-0 d-flex justify-content-end">
                  <a class="cursor-pointer cancel-modal" data-bs-dismiss="modal" aria-label="Close">
                     <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                        <path
                           d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                        </path>
                     </svg>
                  </a>
               </div>
               <div class="d-grid justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="50" height="50" fill="#198754"
                     viewBox="0 0 24 24">
                     <path
                        d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
                     </path>
                     <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
                  </svg>
                  <h6 class="text-center mt-3">Are you sure you want to unblock {{reader.username}}'s account?</h6>
               </div>
               <div class="modal-footer border-0 mb-3 d-flex justify-content-center">
                  <a href="{% url 'users:unblock_reader' request.user.slug reader.username %}" class="btn btn-sm btn-success">
                     Yes, I'm sure
                  </a>
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">No, cancel</button>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}

      <div class="card-footer bg-white pt-4">
         <!-- Pagination START -->
         <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
            <p class="mb-sm-0 text-md text-center text-sm-start">Showing 1 to 8 of {{readers.count}} entries</p>
            <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
               <ul class="pagination pagination-sm pagination-bordered mb-0">
                  <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                  <li class="page-item"><a class="page-link" href="#">15</a></li>
                  <li class="page-item">
                     <a class="page-link" href="#">Next</a>
                  </li>
               </ul>
            </nav>
         </div>
         <!-- Pagination END -->
      </div>
   </div>
</div>

{% endblock %}