{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Author ({{author.username}})
{% endblock title %}
{% block styles %}
<style>
   :root {
      --Iconsax-Size: 20px;
      --Iconsax-Color: rgb(0, 0, 0, 0.7);
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}

<br><br><br>

<div class="container">
   <div class="row justify-content-center">
      <div class="col-lg-12">
         <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-5 col-6">
               {% if author.profile_picture %}

               <img class="img-fluid rounded" src="{{author.profile_picture.url}}" alt="{{author.getusername}}'s Avatar"
                  width="250" height="250">

               {% else %}
               <svg class="bd-placeholder-img flex-shrink-0 rounded" width="250" height="250"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#f5f5f5" />
                  <text x="40%" class="font-medium font-outfit text-3xl" y="50%" fill="#000" dy=".3em">
                     {{author.initials}}
                  </text>
               </svg>
               {% endif %}
            </div>
            <div class="col-xl-9 col-lg-8 col-md-12">
               <p class="mb-2"><span class="fw-bold text-black">03</span> Published posts</p>
               <div class="mb-2">
                  <h3 class="text-dark mb-0 pb-0">
                     {{author.get_full_name|default:"Firstname Lastname"}}
                     {% if author.usersettings.is_verified %}
                     <svg xmlns="http://www.w3.org/2000/svg" class="verified-icon" viewBox="0 0 24 24">
                        <path
                           d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                        </path>
                     </svg>
                     {% endif %}
                  </h3>
                  <small class="text-gray-500">@{{author.get_username}}</small>
               </div>
               <div class="content">
                  <p class="m-0 p-0 pb-3">
                     {{author.get_full_name}} is a writer based in New York City. He’s interested in all things tech,
                     science, and
                     photography related, and likes to yo-yo in his free time.
                  </p>
                  <ul class="list-inline text-md pt-0">

                     <!-- ? Author Email -->
                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="mail"></i>
                        {{author.email}}
                     </li>

                     <!-- ? Author Gender -->
                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="story"></i>
                        {{author.gender}}
                     </li>

                     <!-- ? Author Job Title -->
                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="user-1-octagon"></i>
                        {{author.job_title|default:"[Job title]"}}
                     </li>

                     <!-- ? Author City -->

                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="location"></i>
                        {{author.city|default:"[City]"}}
                     </li>

                     <!-- ? Author Last Login -->

                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="stopwatch"></i>
                        GMT {{author.last_login|date:"g:i a, dS M Y"}}
                     </li>

                     <!-- ? Author Mobile Number -->
                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="phone"></i>
                        {{author.mobile_no|default:'+234......'}}
                     </li>

                     <!-- ? Author Joined date -->
                     <li class="list-inline-item">
                        <i class="iconsax me-1 pb-1" icon-name="calendar-2"></i>
                        Joined on {{author.date_joined|date:"D, dS M, Y"}}
                     </li>
                  </ul>
               </div>
            </div>
         </div>

         {% if author_posts %}

         <div class="mt-5 pt-5">
            <h3 class="mb-4">Published Posts</h3>
            <div class="row gy-4" data-masonry='{"percentPosition": true }'>
               {% for post in author_posts %}

               <div class="col-sm-6 col-lg-4 ">
                  <div class="card border-0 ">
                     <!-- Card img -->
                     <div class="position-relative ">
                        <img class="card-img pointer-events-none" src="{{post.post_image.url}}" alt="Card image">
                        <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                           <!-- Card overlay Top -->
                           <div class="w-100 mb-auto d-flex justify-content-end">
                              <div class="text-end ms-auto">
                                 <!-- * Post Type -->
                                 {% if post.post_type == video %}
                                 <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                    data-bs-toggle="tooltip" data-bs-title="This post has video"
                                    data-bs-placement="right">
                                    <i class="fas fa-video"></i>
                                 </div>
                                 {% elif post.post_type == video %}
                                 <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                    data-bs-toggle="tooltip" data-bs-title="This post has video"
                                    data-bs-placement="right">
                                    <i class="fa-solid fa-images text-md"></i>
                                 </div>
                                 {% endif %}
                              </div>
                           </div>
                           <!-- Card overlay bottom -->
                           <div class="w-100 mt-auto">
                              <!-- Card category -->
                              <a href="{% url 'category' post.category.slug %}"
                                 class="badge text-xs text-bg-{{post.category.color}} mb-2 text-decoration-none font-outfit font-medium">
                                 <i class="fa-solid fa-layer-group me-2"></i> {{post.category}}
                              </a>
                           </div>
                        </div>
                     </div>
                     <div class="card-body px-0 pt-3">
               <small class="d-flex justify-content-end mb-2">{{post.date_posted|naturalday}}</small>
               <div class="d-flex justify-content-between">
                  <h4 class="card-title m-0 p-0 pb-2">
                     <a href="{% url 'blog:single_post' post.slug %}" class="btn-link text-reset fw-bold">
                        {{post.post_title}}
                     </a>
                  </h4>
                  
                  {% if request.user.is_authenticated %}
                  <div class="w-fit col-1">

                     <!-- * Like Post -->
                     {% if request.user in post.likes.all %}
                     <a 
                        href="{% url 'users:like_post' request.user.slug post.id %}"
                        class="text-decoration-none"
                     >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z"
                              fill="#292D32" />
                        </svg>
                     </a>
                     {% else %}
                     <a 
                        href="{% url 'users:like_post' request.user.slug post.id %}" 
                        class="text-decoration-none" 
                        data-bs-toggle="tooltip"
                        data-bs-title="Like post" 
                        data-bs-placement="bottom"
                        data-bs-offset="10,5"
                     >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M12.62 20.81C12.28 20.93 11.72 20.93 11.38 20.81C8.48 19.82 2 15.69 2 8.68998C2 5.59998 4.49 3.09998 7.56 3.09998C9.38 3.09998 10.99 3.97998 12 5.33998C13.01 3.97998 14.63 3.09998 16.44 3.09998C19.51 3.09998 22 5.59998 22 8.68998C22 15.69 15.52 19.82 12.62 20.81Z"
                              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </a>                     
                     {% endif %}

                     <!-- * Bookmark Post -->
                     {% if request.user in post.bookmarks.all %}
                     <a 
                        href="{% url 'users:bookmarks' request.user.slug %}" 
                        class="text-decoration-none"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Already in your bookmarks" 
                        data-bs-placement="bottom"
                        data-bs-offset="10,5"
                     >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M16.8203 2H7.18031C5.05031 2 3.32031 3.74 3.32031 5.86V19.95C3.32031 21.75 4.61031 22.51 6.19031 21.64L11.0703 18.93C11.5903 18.64 12.4303 18.64 12.9403 18.93L17.8203 21.64C19.4003 22.52 20.6903 21.76 20.6903 19.95V5.86C20.6803 3.74 18.9503 2 16.8203 2ZM15.0103 9.75C14.0403 10.1 13.0203 10.28 12.0003 10.28C10.9803 10.28 9.96031 10.1 8.99031 9.75C8.60031 9.61 8.40031 9.18 8.54031 8.79C8.69031 8.4 9.12031 8.2 9.51031 8.34C11.1203 8.92 12.8903 8.92 14.5003 8.34C14.8903 8.2 15.3203 8.4 15.4603 8.79C15.6003 9.18 15.4003 9.61 15.0103 9.75Z"
                              fill="#292D32" />
                        </svg>
                     </a>
                     {% else %}
                     <a 
                        href="{% url 'users:bookmark_add' request.user.slug post.id %}" 
                        class="text-decoration-none"
                        data-bs-toggle="tooltip" 
                        data-bs-title="Add to bookmarks" 
                        data-bs-placement="bottom"
                        data-bs-offset="10,5"
                     >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path d="M14.5 10.6499H9.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                              stroke-linecap="round" stroke-linejoin="round" />
                           <path d="M12 8.20996V13.21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                              stroke-linecap="round" stroke-linejoin="round" />
                           <path
                              d="M16.8199 2H7.17995C5.04995 2 3.31995 3.74 3.31995 5.86V19.95C3.31995 21.75 4.60995 22.51 6.18995 21.64L11.0699 18.93C11.5899 18.64 12.4299 18.64 12.9399 18.93L17.8199 21.64C19.3999 22.52 20.6899 21.76 20.6899 19.95V5.86C20.6799 3.74 18.9499 2 16.8199 2Z"
                              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </a>
                     {% endif %}
                     
                  </div>
                  {% else %}
                  <div class="w-fit col-1">
                     <a href="{% url 'login' %}" class="text-decoration-none" data-bs-toggle="tooltip"
                        data-bs-title="Like post" data-bs-placement="bottom" data-bs-offset="10,5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path
                              d="M12.62 20.81C12.28 20.93 11.72 20.93 11.38 20.81C8.48 19.82 2 15.69 2 8.68998C2 5.59998 4.49 3.09998 7.56 3.09998C9.38 3.09998 10.99 3.97998 12 5.33998C13.01 3.97998 14.63 3.09998 16.44 3.09998C19.51 3.09998 22 5.59998 22 8.68998C22 15.69 15.52 19.82 12.62 20.81Z"
                              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </a>
                     <a href="{% url 'login' %}" class="text-decoration-none" data-bs-toggle="tooltip"
                        data-bs-title="Add to bookmarks" data-bs-placement="bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                           <path d="M14.5 10.6499H9.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                              stroke-linecap="round" stroke-linejoin="round" />
                           <path d="M12 8.20996V13.21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10"
                              stroke-linecap="round" stroke-linejoin="round" />
                           <path
                              d="M16.8199 2H7.17995C5.04995 2 3.31995 3.74 3.31995 5.86V19.95C3.31995 21.75 4.60995 22.51 6.18995 21.64L11.0699 18.93C11.5899 18.64 12.4299 18.64 12.9399 18.93L17.8199 21.64C19.3999 22.52 20.6899 21.76 20.6899 19.95V5.86C20.6799 3.74 18.9499 2 16.8199 2Z"
                              stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </a>                     
                  </div>
                  {% endif %}
               </div>
               <p class="card-text mt-2">
                  {{post.short_description|truncatewords:15}}
               </p>
               <!-- Card info -->
               <ul class="nav nav-divider align-items-center just">
                  <li class="nav-item">
                     <div class="nav-link">
                        <div class="d-flex align-items-center position-relative">
                           <div class="avatar avatar-xs">
                              {% if post.post_author.profile_picture %}
                              <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}"
                                 alt="avatar">
                              {% else %}
                              <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}"
                                 alt="avatar">
                              {% endif %}
                           </div>
                           <span class="ms-3">by
                              <a 
                                 href="{% url 'author_external' post.post_author.slug %}" 
                                 class="stretched-link text-reset btn-link"
                                 tabindex="0"
                                 data-bs-toggle="popover" 
                                 data-bs-trigger="hover focus" 
                                 data-bs-delay="500"
                                 data-bs-html="true" 
                                 data-bs-container="body"                                       
                                 data-bs-offset="10,20" 
                                 data-bs-placement="bottom"
                                 data-bs-content="
                                    <div class='custom-popover-content'>
                                       <div class='d-flex justify-content-between align-items-center'>
                                          <h6 class='font-cabin font-medium m-0 p-0'>
                                             <a 
                                                href='{% url 'author_external' post.post_author.slug %}'
                                                class='text-reset btn-link'
                                             >
                                                {{post.post_author.get_full_name}}
                                             </a>
                                          </h6>
                                          <small class='font-outfit text-sm text-gray-500'>@{{post.post_author.get_username}}</small>
                                       </div>
                                       <p class='font-light font-outfit text-sm m-0 p-0 mt-2'>
                                          {{post.post_author.bio|truncatewords:10}}
                                       </p>
                                       <hr class='m-0 p-0 my-2'>
                                       <div class='d-flex justify-content-between align-items-center'>
                                          <p class='m-0 p-0'>573 Followers</p>
                                          <a 
                                             href=''
                                             class='font-medium font-outfit text-xs btn btn-blue btn-sm rounded-pill'
                                          >
                                             Follow
                                          </a>
                                       </div>
                                    </div>
                                 "
                              >
                                 {{post.post_author.get_short_name}}
                              </a>
                           </span>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="btn-link">
                        <i class="fa-regular fa-heart me-1"></i> 5
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="btn-link">
                        <i class="fa-regular fa-comments me-1"></i> 5
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="#" class="btn-link">
                        <i class="fa-regular fa-eye me-1"></i> 5
                     </a>
                  </li>
               </ul>
            </div>
                  </div>
               </div>

               {% endfor %}
            </div>
         </div>

         {% else %}

         <div class="d-grid justify-content-center pt-5 mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="70" height="70" fill="#dc2626"
               viewBox="0 0 24 24">
               <path
                  d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
               </path>
               <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
            </svg>
            <h4 class="text-center mt-3">No Posts</h4>
            <p>This author has no posts yet.</p>
         </div>

         {% endif %}

      </div>
   </div>
</div>

{% endblock %}