{% load static %}
<footer class="bg-light border-top mt-5">
   <div class="container">
      <div class="row pt-5">
         <div class="col-6 col-md-4 mb-3 mb-md-0">
            <a href="{% url 'home' %}" class="navbar-brand text-black d-flex align-items-center">
               <img src="{% static 'img/tmp1.png' %}" alt="" width="30px">
               <h1 class="font-righteous text-xl mt-2 ms-2 text-uppercase">
                  Creative
                  <span class="text-red">
                     Pen
                  </span>
               </h1>
            </a>
            <small class="font-medium text-md">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et dolore magna
               aliqua.
            </small>
         </div>

         <div class="col-6 col-md-2 mb-3 mb-md-0">
            <h5>
               <i class="iconsax me-" style="--Iconsax-Size: 23px;" icon-name="hashtag-down"></i>
               Categories
            </h5>
            <hr>
            <ul class="nav flex-column">
               <li class="nav-item mb-2">
                  <a href="{% url 'home' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Home
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'about' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     About
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'contact' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Contact
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'latest_posts' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     News
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'categories' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Categories
                  </a>
               </li>
            </ul>
         </div>

         <div class="col-6 col-md-2 mb-3 mb-md-0 ">
            <h5>
               <i class="iconsax me-" style="--Iconsax-Size: 23px;" icon-name="attach-square"></i>
               Links
            </h5>
            <hr>
            <ul class="nav flex-column">
               <li class="nav-item mb-2">
                  <a href="{% url 'home' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Home
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'about' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     About
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'contact' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Contact
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'latest_posts' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     News
                  </a>
               </li>
               <li class="nav-item mb-2">
                  <a href="{% url 'categories' %}" class="nav-link p-0 footer-link">
                     <i class="iconsax me-1" style="--Iconsax-Size: 16px;" icon-name="thick-arrow-right"></i>
                     Categories
                  </a>
               </li>
            </ul>
         </div>

         <div class="col-md-3 offset-md-1 mb-3 mb-md-0 ">
            <form action="{% url 'footer' %}" method="POST">
               {% csrf_token %}
               <h5>Subscribe</h5>
               <hr>
               <p class="text-md text-gray-500">Monthly digest of what's new and exciting from us.</p>
               <div class="d-flex flex-column flex-s w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input name="email" id="email" placeholder="Enter your email" type="email"
                     class="form-control text-md" placeholder="Email address"
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                  <button class="btn btn-blue" type="submit">Subscribe</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="bg-gray-100 pt-4 mt-4 border-top">
      <div class="container d-flex flex-column flex-sm-row justify-content-between">
         <p>
            &copy; <span id="year"></span> Creative Pen. All rights reserved.
         </p>
         <ul class="list-unstyled d-flex">
            <li class="ms-3">
               <a class="link-dark" href="#">
                  <i class='bx bxl-twitter fs-5'></i>
               </a>
            </li>
            <li class="ms-3">
               <a class="link-dark" href="#">
                  <i class='bx bxl-facebook fs-5'></i>
               </a>
            </li>
            <li class="ms-3">
               <a class="link-dark" href="#">
                  <i class='bx bxl-instagram-alt fs-5'></i>
               </a>
            </li>
            <li class="ms-3">
               <a class="link-dark" href="#">
                  <i class='bx bxl-vk fs-5'></i>
               </a>
            </li>
         </ul>
      </div>
   </div>
</footer>
<script>
   let currentYear = new Date().getFullYear()
   let year = document.getElementById('year')
   year.innerHTML = currentYear
</script>