{% if messages %}
{% for message in messages %}
<div class="position-fixed bottom-0  end-0 p-3 toast-container" style="z-index: 11">
   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
   <div id="liveToast" class="toast show bg-white border border-danger border-2" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header d-flex align-items-center">
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle me-1" width="25"
            height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#DC3545" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12.01" y2="16"></line>
         </svg>
         <span class="me-auto text-danger font-bold font-cabin fs-6">Error</span>
         <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body font-muli font-semibold">
         {{ message }}
      </div>
   </div>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
   <div id="liveToast" class="toast show bg-white border border-primary border-2" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header d-flex align-items-center">
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle me-1" width="25"
            height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#0D6EFD" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
            <polyline points="11 12 12 12 12 16 13 16"></polyline>
         </svg>
         <span class="me-auto text-primary font-bold font-cabin fs-6">Info</span>
         <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body font-muli font-semibold">
         {{ message }}
      </div>
   </div>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
   <div id="liveToast" class="toast show bg-white border border-success border-2" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header d-flex align-items-center">
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check me-1" width="25"
            height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#198754" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <circle cx="12" cy="12" r="9"></circle>
            <path d="M9 12l2 2l4 -4"></path>
         </svg>
         <span class="me-auto text-success font-bold font-cabin fs-6">Success</span>
         <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body font-muli font-semibold">
         {{ message }}
      </div>
   </div>
   {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
   <div id="liveToast" class="toast show bg-white border border-amber border-2" role="alert" aria-live="assertive"
      aria-atomic="true">
      <div class="toast-header d-flex align-items-center">
         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-triangle me-1" width="25"
            height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#f59e0b" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
         </svg>
         <span class="me-auto text-amber font-bold font-cabin fs-6">Warning</span>
         <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body font-muli font-semibold">
         {{ message }}
      </div>
   </div>
   {% endif %}

</div>
{% endfor %}
{% endif %}

