{% if messages %}
{% for message in messages %}
<div class="border p-0 rounded-0 d-flex my-shadow w-fit mx-auto justify-content-center alert fade show message-alert">
   <div class="input-group bg-white rounded-0">
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      <div class="input-group-text bg-danger border-0 rounded-0" id="btnGroupAddon">         
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <circle cx="128" cy="128" r="96" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="24"></circle>
            <line x1="128" y1="80" x2="128" y2="132" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="24"></line>
            <circle cx="128" cy="172" r="16"></circle>
         </svg>
      </div>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
      <div class="input-group-text bg-primary border-0 rounded-0" id="btnGroupAddon">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <circle cx="128" cy="128" r="96" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="24"></circle>
            <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#ffffff" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="24"></polyline>
            <circle cx="126" cy="84" r="16"></circle>
         </svg>
      </div>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="input-group-text bg-success border-0 rounded-0" id="btnGroupAddon">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <polyline points="172 104 113.3 160 84 132" fill="none" stroke="#ffffff" stroke-linecap="round"
               stroke-linejoin="round" stroke-width="24"></polyline>
            <circle cx="128" cy="128" r="96" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="24"></circle>
         </svg>
      </div>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      <div class="input-group-text bg-amber border-0 rounded-0" id="btnGroupAddon">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <line x1="128" y1="104" x2="128" y2="136" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round"
               stroke-width="24"></line>
            <path d="M114.2,40l-88,152A16,16,0,0,0,40,216H216a16,16,0,0,0,13.8-24l-88-152A15.9,15.9,0,0,0,114.2,40Z" fill="none"
               stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path>
            <circle cx="128" cy="176" r="16"></circle>
         </svg>
      </div>
      {% endif %}


      <span style="height: 40px; " class="m-2 ms-2 d-grid rounded-0 align-content-center">
         {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <h6 class="text-danger p-0 m-0 text-md">ERROR</h6>
         {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
         <h6 class="text-primary p-0 m-0 text-md">INFO</h6>
         {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
         <h6 class="text-success p-0 m-0 text-md">SUCCESS</h6>
         {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
         <h6 class="text-amber p-0 m-0 text-md">WARNING</h6>
         {% endif %}
         <small class="font-muli mt-2 text-sm font-semibold">{{ message }}</small>

      </span>
      <div class="input-group-text bg-white border-0 ms-auto" id="btnGroupAddon">
         <i class="ri-close-circle-fill text-black ps-5 text-xl cursor-pointer" data-bs-dismiss="alert"></i>         
      </div>
   </div>
</div>
{% endfor %}
{% endif %}

<script>
   setTimeout(() => {
      $(".message-alert").remove()
   }, 4000)
</script>