{% load static %}
{% load active_link_tags %}
{% url 'home' as home %}
{% url 'latest_posts' as latest_posts %}
{% url 'about' as about %}
{% url 'categories' as categories %}
{% url 'contact' as contact %}
{% url 'users:dashboard' as dashboard %}
{% url 'users:profile' as user_profile %}
{% url 'users:profile' pk=request.user.slug as profile %}


{% if request.user.is_authenticated %}
<nav id="navbar" class="navbar navbar-expand-md navbar-light py-2 border-bottom sticky-top top-0">
   <div class="container-fluid px-md-5 px-4">
      <a href="{% url 'home' %}" class="navbar-brand  d-flex align-items-center">
         <img src="{% static 'img/tmp1.png' %}" alt="" width="30px">
         <h1 class="font-righteous text-xl mt-2 ms-1 text-uppercase">
            Creative
            <span class="text-red">
               Pen
            </span>
         </h1>
      </a>
      <button class="btn navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M3 4h18v2H3V4zm6 7h12v2H9v-2zm-6 7h18v2H3v-2z" />
         </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto ms-lg-auto me-lg-0 d-flex align-items-center">
            <li class="nav-item">
               <a class="nav-link {% if request.path == home %} active-nav  {% endif %}"
                  href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% active_link 'latest_posts' 'active-nav' %}"
                  href="{% url 'latest_posts' %}">Latest</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% active_link 'categories' 'active-nav' %}"
                  href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% active_link 'about' 'active-nav' %}"
                  href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% active_link 'contact' 'active-nav' %}"
                  href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item dropdown ms-2">
               <a class="nav-link dropdown-toggle" role="button" style="user-select: none;" data-bs-toggle="dropdown" aria-expanded="false">
                  <img                     
                     src="{% if request.user.profile_picture %} {{request.user.profile_picture.url}} {% else %} {% static 'img/man.png' %} {% endif %} "
                     alt="User Avatar" 
                     class="img-fluid rounded-full nav-avatar pointer-events-none"
                     style="width: 40px;height: 40px;object-fit: cover;"
                  />
               </a>               
               <ul class="dropdown-menu mt-1 dropdown-menu-end px-2">
                  <li>
                     <a 
                        href="{% url 'users:dashboard' request.user.slug %}"
                        class="dropdown-item nav-link rounded-md {% if '/dashboard' in request.path %} bg-light text-black  {% endif %}" 
                     >
                        Dashboard
                     </a>
                  </li>
                  {% if request.user.is_author %}
                     <li><a class="dropdown-item nav-link rounded-md" href="#">Create Post</a></li>
                  {% endif %}
                  <li>
                     <a 
                        class="dropdown-item nav-link rounded-md {% if '/profile' in request.path or '/edit-profile' in request.path%} bg-light text-black  {% endif %}" 
                        href="{% url 'users:profile' request.user.slug %}"
                     >
                        My Profile
                     </a>
                  </li>
                  <li>
                     <hr class="dropdown-divider p-0 m-0 my-1">
                  </li>
                  <li><a class="dropdown-item nav-link rounded-md" href="{% url 'logout' %}">Sign out</a></li>
               </ul>
            </li>            
         </ul>
      </div>
   </div>
</nav>
{% else %}
<nav id="navbar" class="navbar navbar-expand-md navbar-light py-2 border-bottom sticky-top top-0">
   <div class="container-fluid px-md-5 px-4">
      <a href="{% url 'home' %}" class="navbar-brand  d-flex align-items-center">
         <img src="{% static 'img/tmp1.png' %}" alt="" width="30px">
         <h1 class="font-righteous  text-xl mt-2 ms-1 text-uppercase">
            Creative
            <span class="text-red">
               Pen
            </span>
         </h1>
      </a>
      <button class="btn navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
         data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">         
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill="none" d="M0 0h24v24H0z" />
            <path d="M3 4h18v2H3V4zm6 7h12v2H9v-2zm-6 7h18v2H3v-2z" />
         </svg>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto ms-lg-auto me-lg-0">
            <li class="nav-item">
               <a class="nav-link {% if request.path == home %} active-nav  {% endif %}"
                  href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == latest_posts %} active-nav  {% endif %}"
                  href="{% url 'latest_posts' %}">Latest</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == categories %} active-nav  {% endif %}"
                  href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == about %} active-nav  {% endif %}"
                  href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == contact %} active-nav  {% endif %}"
                  href="{% url 'contact' %}">Contact</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">Sign in</a>
            </li>
         </ul>
         <a class="nav-link text-white bg-dark ms-3 font-outfit rounded-xl font-medium " href="{% url 'register' %}">
            Get started
         </a>
      </div>
   </div>
</nav>
{% endif %}


<!-- ! OFFCANVAS -->
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
   <div class="offcanvas-header d-flex align-items-center">
      <a href="{% url 'home' %}" class="text-dark text-decoration-none d-flex align-items-center">
         <img src="{% static 'img/tmp1.png' %}" alt="" width="25px">
         <h1 class="font-righteous text-xl mt-2 ms-1 text-uppercase">
            Creative
            <span class="text-red">
               Pen
            </span>
         </h1>
      </a>
      <button type="button" class="btn-close text-reset btn btn-sm" data-bs-dismiss="offcanvas"
         aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">
      <div class="" id="offNav">
         <ul class="mx-auto ms-lg-auto me-lg-0 list-unstyled">
            <li class="nav-item">
               <a class="nav-link {% if request.path == home %} active-nav  {% endif %}"
                  href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == latest_posts %} active-nav  {% endif %}"
                  href="{% url 'latest_posts' %}">Latest</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == categories %} active-nav  {% endif %}"
                  href="{% url 'categories' %}">Categories</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == about %} active-nav  {% endif %}"
                  href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link {% if request.path == contact %} active-nav  {% endif %}"
                  href="{% url 'contact' %}">Contact</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item">
               <a class="nav-link" href="{% url 'login' %}">Sign in</a>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}            
            <li class="nav-item d-flex justify-content-between dropdown align-items-center border-top mt-2 pt-2">
               <a class="nav-link text-capitalize" href="{% url 'logout' %}">
                  {{request.user.username}}
               </a>
               <a class="nav-link dropdown-toggle" role="button" style="user-select: none;" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'img/man.png' %}" alt="User Avatar" class="img-fluid rounded-full nav-avatar pointer-events-none"
                     style="width: 40px;height: 40px;object-fit: cover;" />
               </a>
               <ul class="dropdown-menu mt-1 dropdown-menu-start px-2 my-shadow-sm">
                  <li><a class="dropdown-item nav-link rounded-md font-medium"
                        href="{% url 'users:dashboard' request.user.slug %}">Dashboard</a></li>
                  <li><a class="dropdown-item nav-link rounded-md font-medium" href="#">Another action</a></li>
                  <li>
                     <hr class="dropdown-divider p-0 m-0 my-1">
                  </li>
                  <li><a class="dropdown-item nav-link rounded-md font-medium" href="{% url 'logout' %}">Sign out</a></li>
               </ul>
            </li>            
            {% endif %}
         </ul>
         {% if not request.user.is_authenticated %}
         <a class="nav-link w-fit text-white bg-dark ms-3 font-outfit rounded-lg font-medium" href="{% url 'register' %}"
            >
            Get started
         </a>
         {% endif %}
      </div>
   </div>
</div>

<script>
   const navbar = document.querySelector('#navbar');
   window.onscroll = () => {
      if (window.scrollY > 30) {
         navbar.classList.add('backdrop-blur');
      } else {
         navbar.classList.toggle('backdrop-blur');
      }
   }   
</script>