* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

footer,
body {
  overflow-x: hidden !important;
}

/* * font-family: 'Merienda', cursive;
   * font-family: 'Work Sans', sans-serif;  
*/

h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: "Cabin", sans-serif !important;
}

p,
small,
li,
input,
textarea,
td {
  font-family: "muli", sans-serif !important;
}

/* ! Font Family */
.font-righteous {
  font-family: "Righteous", cursive !important;
}

.font-muli {
  font-family: "muli", sans-serif !important;
}

.font-cabin {
  font-family: "Cabin", sans-serif !important;
}

:root {
  --color-blue: #234e70;
  --color-red: #d2302c;
  --color-amber: #f59e0b;
  --white: #fff;
  --gray-500: #6b7280;
  --gray-200: #f3f4f6;
}

/* ! Background Colors */
.bg-blue {
  background-color: var(--color-blue) !important;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-amber {
  background-color: var(--color-amber) !important;
}

.bg-gray-100 {
  background-color: var(--gray-200) !important;
}

/* ! Text Colors */
.text-blue {
  color: var(--color-blue) !important;
}

.text-red {
  color: var(--color-red) !important;
}

.text-amber {
  color: var(--color-amber) !important;
}

.text-gray-500 {
  color: var(--gray-500) !important;
}

/* ! Button Styles */
.btn-mysecondary-outline {
  border: 2px solid var(--color-red) !important;
  color: #fff !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-blue {
  background-color: var(--color-blue) !important;
  color: var(--white) !important;
}

.btn-red {
  background-color: var(--color-red) !important;
  color: var(--white) !important;
}

.btn-mysecondary {
  background-color: var(--white) !important;
  color: var(--blue-shade-secondary) !important;
}

/* ! Border Colors */
.border-blue {
  border-color: var(--color-blue) !important;
}

.border-red {
  border-color: var(--color-red) !important;
}

.border-amber {
  border-color: var(--color-amber) !important;
}

.border-gray-100 {
  border-color: var(--gray-200) !important;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.h-full {
  height: 100vh !important;
}

.sticky {
  position: sticky !important;
}

.top-0 {
  top: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.cursor-none {
  cursor: none !important;
}

.cursor-normal {
  cursor: default !important;
}

.text-justify {
  text-align: justify !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

/* ! Box Shadows */
.my-shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.my-shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.my-shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.my-shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.my-shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.my-shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.my-shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.my-shadow-none {
  box-shadow: 0 0 #0000;
}

/* ! Border Radiuses */
.rounded-sm {
  border-radius: 0.125rem !important;
  /* 2px */
}

.rounded {
  border-radius: 0.25rem !important;
  /* 4px */
}

.rounded-md {
  border-radius: 0.375rem !important;
  /* 6px */
}

.rounded-lg {
  border-radius: 0.5rem !important;
  /* 8px */
}

.rounded-xl {
  border-radius: 0.75rem !important;
  /* 12px */
}

.rounded-2xl {
  border-radius: 1rem !important;
  /* 16px */
}

.rounded-3xl {
  border-radius: 1.5rem !important;
  /* 24px */
}

.rounded-full {
  border-radius: 9999px !important;
}

/* ! Font Sizes */
.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-md {
  font-size: 15px !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
}

.text-4xl {
  font-size: 2.25rem !important;
}

/* ! Font Weights */
.font-thin {
  font-weight: 100 !important;
}

.font-extralight {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

/* ! Backdrop Blur  */
.backdrop-blur-none {
  backdrop-filter: blur(0) !important;
}

.backdrop-blur-xs {
  backdrop-filter: blur(2px) !important;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px) !important;
}

.backdrop-blur {
  backdrop-filter: blur(8px) !important;
}

.backdrop-blur-md {
  backdrop-filter: blur(12px) !important;
}

.backdrop-blur-lg {
  backdrop-filter: blur(16px) !important;
}

.backdrop-blur-xl {
  backdrop-filter: blur(24px) !important;
}

.backdrop-blur-2xl {
  backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
  backdrop-filter: blur(64px) !important;
}

.backdrop-grayscale-0 {
  backdrop-filter: grayscale(0) !important;
}

.backdrop-grayscale {
  backdrop-filter: grayscale(100%) !important;
}

/* ! Form Styles */
.form-control {
  border: 2px solid var(--gray-500);
  outline: none !important;
  background-color: var(--white);
  box-shadow: none !important;
  font-family: "muli", sans-serif !important;
}

.form-control:focus {
  border-color: var(--color-blue);
  color: #212529;
  background-color: #fff;
  box-shadow: 0 0 0 2.5px rgba(84, 89, 66, 0.3) !important;
}

.form-label text-black,
label {
  font-weight: 500;
  font-family: "Bree Serif", serif;
}

.form-check-input:focus,
.form-check-input:active {
  outline: none !important;
  box-shadow: none !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

input[type="search"]::-ms-reveal {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}

/* ? Custom */
.message-alert {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.active-nav {
  color: black !important;
  font-weight: 600;
}

#navbar .nav-link {
  font-family: "Cabin", sans-serif;
}

#offNav .nav-link {
  color: var(--gray-500);
}

@media screen and (max-width: 500px) {
  #offcanvasRight {
    width: 80vw !important;
  }
}

.gradient-text {
  background: linear-gradient(62deg, #d2302c, #234e70);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ? Page scrollbar */
body#body::-webkit-scrollbar {
  width: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body#body::-webkit-scrollbar-track {
  background: #f5f5f5;
}

body#body::-webkit-scrollbar-thumb {
  background: #888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body#body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ? General Styles */
.page-hero {
  height: 65vh;
}
.hero-link {
  color: #333;
}
.hero-link:hover {
  color: var(--color-red) !important;
}

/* ? Contact Page */
@media screen and (min-width: 767px) {
  .contact-form-section {
    height: 75vh !important;
  }
  
}
@media screen and (max-width: 767px) {
  .contact-form-image{
    height: 55vh !important;
  }
}
.contact-form {
  border-radius: 20px;
}
.contact-form-image {
  height: 75vh;
  border-radius: 20px;
  background-image: url("../img/contact-img.jpg");
  background-size: cover;
  background-position: center;
}
