* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

footer,
body {
  overflow-x: hidden !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn {
  font-family: "Cabin", sans-serif !important;
}

p,
small,
li,
input,
textarea,
select,
option,
td {
  font-family: "Outfit", sans-serif !important;
}

/* ! Font Family */
.font-righteous {
  font-family: "Righteous", cursive !important;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.font-cabin {
  font-family: "Cabin", sans-serif !important;
}

:root {
  --color-blue: #234e70;
  --color-red: #d2302c;
  --color-amber: #f59e0b;
  --white: #fff;
  --gray-500: #6b7280;
  --gray-200: #f3f4f6;
}

/* ! Background Colors */
.bg-blue {
  background-color: var(--color-blue) !important;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.verified-icon {
  fill: var(--color-blue);
  width: 20px;
  height: 20px;
}

.bg-amber {
  background-color: var(--color-amber) !important;
}

.bg-gray-100 {
  background-color: var(--gray-200) !important;
}


/* ! Dropdown */
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

/* ! Text Colors */
.text-blue {
  color: var(--color-blue) !important;
}

.text-bg-blue {
  color: #fff !important;
  background-color: rgb(35, 78, 112);
}

.text-red {
  color: var(--color-red) !important;
}

.text-amber {
  color: var(--color-amber) !important;
}

.text-gray-500 {
  color: var(--gray-500) !important;
}

/* ! Button Styles */
.btn-mysecondary-outline {
  border: 2px solid var(--color-red) !important;
  color: #fff !important;
}

.btn-outline-blue {
  color: var(--color-blue);
  --Iconsax-Color: var(--color-blue);
  border-color: var(--color-blue);
}

.btn-outline-blue:hover {
  color: #fff;
  --Iconsax-Color: #fff;
  background-color: #234e70;
  border-color: #234e70;
}

.btn-check:focus+.btn-outline-blue,
.btn-outline-blue:focus {
  box-shadow: none !important;
}

.btn-check:active+.btn-outline-blue,
.btn-check:checked+.btn-outline-blue,
.btn-outline-blue.active,
.btn-outline-blue.dropdown-toggle.show,
.btn-outline-blue:active {
  color: #fff;
  --Iconsax-Color: #fff;
  background-color: #234e70;
  border-color: #234e70;
}

.btn-check:active+.btn-outline-blue:focus,
.btn-check:checked+.btn-outline-blue:focus,
.btn-outline-blue.active:focus,
.btn-outline-blue.dropdown-toggle.show:focus,
.btn-outline-blue:active:focus {
  box-shadow: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-blue {
  background-color: var(--color-blue) !important;
  color: var(--white) !important;
}

.btn-red {
  background-color: var(--color-red) !important;
  color: var(--white) !important;
}

.btn-mysecondary {
  background-color: var(--white) !important;
  color: var(--blue-shade-secondary) !important;
}

.btn-primary-soft {
  color: #2163e8;
  background-color: rgba(33, 99, 232, 0.1);
}

.btn-primary-soft:active,
.btn-primary-soft:hover {
  color: #fff;
  background-color: #2163e8;
  border-color: #2163e8;
}

.btn-primary-soft:focus {
  color: #2163e8;
  background-color: rgba(33, 99, 232, 0.1);
  border-color: transparent;
}

.btn-secondary-soft {
  color: #595d69;
  background-color: rgba(89, 93, 105, 0.1);
}

.btn-secondary-soft:active,
.btn-secondary-soft:hover {
  color: #fff;
  background-color: #595d69;
  border-color: #595d69;
}

.btn-secondary-soft:focus {
  color: #595d69;
  background-color: rgba(89, 93, 105, 0.1);
  border-color: transparent;
}

.btn-success-soft {
  color: #0cbc87;
  background-color: rgba(12, 188, 135, 0.1);
}

.btn-success-soft:active,
.btn-success-soft:hover {
  color: #fff;
  background-color: #0cbc87;
  border-color: #0cbc87;
}

.btn-success-soft:focus {
  color: #0cbc87;
  background-color: rgba(12, 188, 135, 0.1);
  border-color: transparent;
}

.btn-info-soft {
  color: #4f9ef8;
  background-color: rgba(79, 158, 248, 0.1);
}

.btn-info-soft:active,
.btn-info-soft:hover {
  color: #fff;
  background-color: #4f9ef8;
  border-color: #4f9ef8;
}

.btn-info-soft:focus {
  color: #4f9ef8;
  background-color: rgba(79, 158, 248, 0.1);
  border-color: transparent;
}

.btn-warning-soft {
  color: #f7c32e;
  background-color: rgba(247, 195, 46, 0.1);
}

.btn-warning-soft:active,
.btn-warning-soft:hover {
  color: #000;
  background-color: #f7c32e;
  border-color: #f7c32e;
}

.btn-warning-soft:focus {
  color: #f7c32e;
  background-color: rgba(247, 195, 46, 0.1);
  border-color: transparent;
}

.btn-danger-soft {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
}

.btn-danger-soft:active,
.btn-danger-soft:hover {
  color: #fff;
  background-color: #d6293e;
  border-color: #d6293e;
}

.btn-danger-soft:focus {
  color: #d6293e;
  background-color: rgba(214, 41, 62, 0.1);
  border-color: transparent;
}

.btn-light-soft {
  color: #f7f8f9;
  background-color: rgba(247, 248, 249, 0.1);
}

.btn-light-soft:active,
.btn-light-soft:hover {
  color: #000;
  background-color: #f7f8f9;
  border-color: #f7f8f9;
}

.btn-light-soft:focus {
  color: #f7f8f9;
  background-color: rgba(247, 248, 249, 0.1);
  border-color: transparent;
}

.btn-dark-soft {
  color: #191a1f;
  background-color: rgba(25, 26, 31, 0.1);
}

.btn-dark-soft:active,
.btn-dark-soft:hover {
  color: #fff;
  background-color: #191a1f;
  border-color: #191a1f;
}

.btn-dark-soft:focus {
  color: #191a1f;
  background-color: rgba(25, 26, 31, 0.1);
  border-color: transparent;
}


/* ! Pagination Styles */

.pagination {
  --bs-pagination-padding-x: 1rem;
  --bs-pagination-padding-y: 0.7rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--bs-gray-600);
  --bs-pagination-bg: #fff;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #dfe0e5;
  --bs-pagination-border-radius: 0.25rem;
  --bs-pagination-hover-color: var(--bs-white);
  --bs-pagination-hover-bg: var(--color-blue);
  --bs-pagination-hover-border-color: var(--color-blue);
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: #f0f1f3;
  --bs-pagination-focus-box-shadow: 0 0 0 0 rgba(33, 99, 232, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--color-blue);
  --bs-pagination-active-border-color: var(--color-blue);
  --bs-pagination-disabled-color: #d0d4d9;
  --bs-pagination-disabled-bg: #fff;
  --bs-pagination-disabled-border-color: #dfe0e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: var(--bs-pagination-color);
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);  
}

.page-link:hover {
  z-index: 2;
  color: var(--bs-pagination-hover-color);
  background-color: rgba(35, 78, 112, 0.9);
  border-color: rgba(35, 78, 112, 0.9);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.page-link:focus {
  z-index: 3;
  color: var(--bs-pagination-focus-color);
  background-color: var(--bs-pagination-focus-bg);
  outline: 0;
  -webkit-box-shadow: var(--bs-pagination-focus-box-shadow);
  box-shadow: var(--bs-pagination-focus-box-shadow);
}

.page-link.active,
.active>.page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}

.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.pagination .page-item {
  margin-bottom: 5px;
  float: left;
}

.pagination-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 0.25rem;
}

.pagination-bordered .page-item {
  margin: 2px;
}

.pagination-bordered .page-link {
  border: transparent;
  border-radius: 0.25rem;
}

/* ! Width and Height */
.h-20 {
  height: 20px !important;
}

.h-200 {
  height: 200px !important;
}

.h-250 {
  height: 250px !important;
}

.h-300 {
  height: 300px !important;
}

.h-350 {
  height: 350px !important;
}

.h-400 {
  height: 400px !important;
}

.h-500 {
  height: 500px !important;
}

.h-540 {
  height: 540px !important;
}

.h-560 {
  height: 560px !important;
}

.h-600 {
  height: 600px !important;
}

.h-700 {
  height: 700px !important;
}

.h-100 {
  height: 100% !important;
}

.w-20 {
  width: 20px !important;
}

.w-30 {
  width: 30px !important;
}

.w-40 {
  width: 40px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-70 {
  width: 70px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-100 {
  width: 100% !important;
}

/* ! Font Awesome Styles */
.fa-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em
}

.fa-xs {
  font-size: .75em
}

.fa-sm {
  font-size: .875em
}

.fa-1x {
  font-size: 1em
}

.fa-2x {
  font-size: 2em
}

.fa-3x {
  font-size: 3em
}

.fa-4x {
  font-size: 4em
}

.fa-5x {
  font-size: 5em
}

.fa-6x {
  font-size: 6em
}

.fa-7x {
  font-size: 7em
}

.fa-8x {
  font-size: 8em
}

.fa-9x {
  font-size: 9em
}

.fa-10x {
  font-size: 10em
}

.fa-fw {
  text-align: center;
  width: 1.25em
}

.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 75%;
}

.icon-md {
  width: 2.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  font-size: 0.8rem;
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.icon-xl {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.9rem;
}

/* ! Border Colors */
.border-blue {
  border-color: var(--color-blue) !important;
}

.border-red {
  border-color: var(--color-red) !important;
}

.border-amber {
  border-color: var(--color-amber) !important;
}

.border-gray-100 {
  border-color: var(--gray-200) !important;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.h-full {
  height: 100vh !important;
}

.sticky {
  position: sticky !important;
}

.top-0 {
  top: 0 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events-none {
  pointer-events: none !important;
}

.cursor-none {
  cursor: none !important;
}

.cursor-normal {
  cursor: default !important;
}

.text-justify {
  text-align: justify !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

/* ! Box Shadows */
.my-shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.my-shadow {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.my-shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.my-shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.my-shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.my-shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.my-shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.my-shadow-none {
  box-shadow: 0 0 #0000;
}

/* ! Border Radiuses */
.rounded-sm {
  border-radius: 0.125rem !important;
  /* 2px */
}

.rounded {
  border-radius: 0.25rem !important;
  /* 4px */
}

.rounded-md {
  border-radius: 0.375rem !important;
  /* 6px */
}

.rounded-lg {
  border-radius: 0.5rem !important;
  /* 8px */
}

.rounded-xl {
  border-radius: 0.75rem !important;
  /* 12px */
}

.rounded-2xl {
  border-radius: 1rem !important;
  /* 16px */
}

.rounded-3xl {
  border-radius: 1.5rem !important;
  /* 24px */
}

.rounded-full {
  border-radius: 9999px !important;
}

/* ! Font Sizes */
.text-xs {
  font-size: 0.75rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-base {
  font-size: 1rem !important;
}

.text-md {
  font-size: 15px !important;
}

.text-lg {
  font-size: 1.125rem !important;
}

.text-xl {
  font-size: 1.25rem !important;
}

.text-2xl {
  font-size: 1.5rem !important;
}

.text-3xl {
  font-size: 1.875rem !important;
}

.text-4xl {
  font-size: 2.25rem !important;
}



/* ! Font Weights */
.font-thin {
  font-weight: 100 !important;
}

.font-extralight {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}

/* ! Backdrop Blur  */
.backdrop-blur-none {
  backdrop-filter: blur(0) !important;
}

.backdrop-blur-xs {
  backdrop-filter: blur(2px) !important;
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px) !important;
}

.backdrop-blur {
  backdrop-filter: blur(8px) !important;
}

.backdrop-blur-md {
  backdrop-filter: blur(12px) !important;
}

.backdrop-blur-lg {
  backdrop-filter: blur(16px) !important;
}

.backdrop-blur-xl {
  backdrop-filter: blur(24px) !important;
}

.backdrop-blur-2xl {
  backdrop-filter: blur(40px) !important;
}

.backdrop-blur-3xl {
  backdrop-filter: blur(64px) !important;
}

.backdrop-grayscale-0 {
  backdrop-filter: grayscale(0) !important;
}

.backdrop-grayscale {
  backdrop-filter: grayscale(100%) !important;
}

/* ! Z-index styles , Negative Margin, Avatar  */
.z-index-0 {
  z-index: 0 !important;
}

.z-index-9 {
  z-index: 9 !important;
}

.z-index-99 {
  z-index: 99 !important;
}

.z-index-n9 {
  z-index: -9 !important;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;  
}

.mt-n3 {
  margin-top: -1rem !important;
}

.mt-n4 {
  margin-top: -2rem !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.mt-n7 {
  margin-top: -7rem !important;
}

.avatar {
  height: 3rem;
  width: 3rem;
  position: relative;
  display: inline-block !important;
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avatar-group>li {
  position: relative;
}

.avatar-group>li:not(:last-child) {
  margin-right: -0.8rem;
}

.avatar-group .avatar-img {
  border: 2px solid #fff;
}

.avatar .avatar-name {
  margin-left: 7px;
}

.avatar-xs {
  height: 2.1875rem;
  width: 2.1875rem;
}

.avatar-sm {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.avatar-lg {
  height: 4rem;
  width: 4rem;
}

.avatar-xl {
  height: 5.125rem;
  width: 5.125rem;
}

.avatar-xxl {
  height: 5.125rem;
  width: 5.125rem;
}

@media (min-width: 768px) {
  .avatar-xxl {
    width: 8rem;
    height: 8rem;
  }
}

.avatar-xxxl {
  height: 8rem;
  width: 8rem;
}

@media (min-width: 768px) {
  .avatar-xxxl {
    width: 11rem;
    height: 11rem;
  }
}

/* ! Form Styles */
/* ? Form Icon */
.input-icon-group {
  display: flex;
  align-items: center;
}

.input-icon-group .form-control {
  padding-left: 2.2rem;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 7px;
}

.input-icon-group .input-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.5) !important;
  fill: rgba(0, 0, 0, 0.5) !important;
}

.form-select {
  border: 0.125em solid gray;
  outline: none !important;
  background-color: var(--white);
  box-shadow: none !important;
  font-family: "Outfit", sans-serif !important;
}

.form-select:focus {
  border-color: var(--color-blue);
  color: #212529;
  background-color: #fff;
  box-shadow: 0 0 0 1.5px rgba(84, 89, 66, 0.3) !important;
}

.form-control,
.selectize-input {
  border: 0.125em solid gray;
  outline: none !important;
  background-color: var(--white);
  box-shadow: none !important;
  font-family: "Outfit", sans-serif !important;
}

.form-control:focus,
.selectize-input.focus {
  border-color: var(--color-blue);
  color: #212529;
  background-color: #fff;
  box-shadow: 0 0 0 1.5px rgba(84, 89, 66, 0.3) !important;
}

.form-label text-black,
label {
  font-weight: 500;
  font-family: "Cabin", sans-serif !important;
}

.form-check-input:focus,
.form-check-input:active {
  outline: none !important;
  box-shadow: none !important;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

input[type="search"]::-ms-reveal {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}

/* ? Custom */
.message-alert {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.active-nav {
  color: black !important;
  font-weight: 500 !important;
}

.active-dropdown {
  color: #000 !important;
  font-weight: 500 !important;
  background-color: #e9ecef !important;
}

.nav-dropdown .dropdown-item:focus,
.nav-dropdown .dropdown-item:hover {
  background-color: #f8f9fa !important;
}

#navbar .nav-link {
  font-family: "Outfit", sans-serif !important;
}

#offNav .nav-item .nav-link {
  color: var(--gray-500);
}

#offNav .nav-item .nav-link:hover {
  color: black !important;
}

@media screen and (max-width: 500px) {
  #offcanvasRight {
    width: 80vw !important;
  }
}

.gradient-text {
  background: linear-gradient(62deg, #d2302c, #234e70);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ? Page scrollbar */
.offcanvas-body::-webkit-scrollbar,
body#body::-webkit-scrollbar {
  width: 7px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-track,
body#body::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.offcanvas-body::-webkit-scrollbar-thumb,
body#body::-webkit-scrollbar-thumb {
  background: #888;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.offcanvas-body::-webkit-scrollbar-thumb:hover,
body#body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ? General Styles */
.page-hero {
  height: 55vh;
  background-attachment: fixed;
}

.hero-link {
  color: #333;
}

.hero-link:hover {
  color: var(--color-red) !important;
}

/* ? Contact Page */
@media screen and (max-width: 767px) {
  .contact-form-image {
    height: 55vh !important;
  }
}

.contact-form-image {
  background-image: linear-gradient(62deg,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0.4) 80%),
    url("../img/contact-img.jpg");
  background-size: cover;
  background-position: center;
}

.footer-link {
  --Iconsax-Color: #6c757d;
  color: #6c757d;
  transition: .2s;
}

.footer-link:hover {
  color: #000 !important;
  --Iconsax-Color: #000;
  transition: .2s;
}

.footer-link .iconsax {
  transition: .2s;
}

.footer-link:hover .iconsax {
  transform: translateX(2px);
  transition: .2s;
}

.author-profile-icon li a i {
  color: var(--gray-500);
  transition: .2s;
}

.author-profile-icon li a i:hover {
  color: #333;
  border-color: var(--gray-500) !important;
  transition: .2s;
}

.post-author-profile-icon li a i {
  color: #fff;
  background-color: var(--color-blue);
  transition: .2s;
}

.post-author-profile-icon li a i:hover {
  color: #fff;
  background-color: #555;
  transition: .2s;
}





.contact-icon {
  background-image: linear-gradient(120deg,
      rgba(210, 48, 44, 0.7) 50%,
      rgba(35, 78, 112, 0.7) 80%);
}


/* Selectize */
.selectize-control.multi .selectize-input>div {
  background: var(--color-blue) !important;
}


/* Slide Down Dropdown */
.custom-dropdown hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #333;
  margin: .5em 0;
  padding: 0;
}


.custom-dropdown .dropdown-menu {
  border: 1px solid transparent !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-top: 30px !important;
  opacity: 0;
  border-radius: 0;
  background: #fff;
  -webkit-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  -o-transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
  visibility: hidden;
}

.custom-dropdown .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  margin-top: 0px !important;
  transition: .3s margin-top ease, .3s opacity ease, .3s visibility ease;
}

.custom-dropdown .dropdown-menu a {
  font-size: 14px;
  padding: 8px 20px;
  position: relative;
  color: #000;
}

.nav-search .dropdown-menu {
  top: 120%;
  visibility: hidden;
  opacity: 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 300px;
  left: auto;
  right: 0;
}

.nav-search .dropdown-menu.show {
  top: 100%;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 575.98px) {
  .nav-search .dropdown-menu {
    width: 100%;
  }
}

.nav.nav-divider a:not(.dropdown-item) {
  color: inherit;
}

.nav.nav-divider .nav-item+.nav-item:before {    
  content: "\22C5";
  color: #000;
  padding-left: 0.65rem;
  padding-right: 0.75rem;
  opacity: 1;
}

.nav.nav-divider .nav-item {
  display: inline-block;
  vertical-align: middle;
}

.nav.nav-divider .nav-link {
  padding: 0;
  color: inherit;
}

.up-hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.up-hover:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.btn-link {
  --bs-btn-font-weight: 500;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #d0d4d9;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: 66, 122, 235;
  text-decoration: none;
}

.btn-link:focus {
  color: var(--bs-btn-color);
}

.btn-link:hover {
  color: var(--bs-btn-hover-color);
}

.btn-link {
  padding-bottom: 0px;
  background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
  background: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-size: 0px 6%;
  background-repeat: no-repeat;
  background-position: left 100%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-weight: inherit;
  padding: 0;
}

.btn-link:hover {
  background-size: 100% 6%;
}

.nav-pill-blue-soft .nav-link {
  background-color: rgba(35, 78, 112, 0.1);
  color: #191a1f;
  border: none;
}

.nav-pill-blue-soft .nav-link.active,
.nav-pill-blue-soft .show>.nav-link {
  color: #fff;
  background-color: rgba(35, 78, 112);
}


.bg-dark-overlay-4 {
  position: relative;
  z-index: 99;
}

.bg-dark-overlay-4:before {
  content: " ";
  background: #000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card {
  --bs-card-spacer-y: 0.75rem;
  --bs-card-spacer-x: 1.25rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 0;
  --bs-card-border-color: var(--bs-border-color);
  --bs-card-border-radius: 0.7rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: 0.7rem;
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: #fff;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1.25rem;
  --bs-card-group-margin: 0.9375rem;  
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--bs-card-img-overlay-padding);
  border-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: var(--bs-card-inner-border-radius);
  border-bottom-left-radius: var(--bs-card-inner-border-radius);
}

.card.card-overlay-bottom {
  overflow: hidden;
}

.card.card-overlay-bottom:before {
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: linear-gradient(180deg, transparent, black);
  z-index: 1;
}

.card-img-scale .card-img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card-img-scale:hover .card-img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}


.card .card-img-overlay {
  z-index: 2;
}

.card-bg-scale::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
  z-index: -2;
}

.card-bg-scale:hover::after {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
}

.bg-blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.text-white-force *:not(.btn):not(.dropdown-item):not(.dropdown-item > *):not(.badge) {
  color: #fff;
}

.bg-dark-overlay-5 {
  position: relative;
  z-index: 99;
}

.bg-dark-overlay-5:before {
  content: " ";
  background: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* * Override popover header */
.popover-header{
  background-color: #fff !important;
  padding: 0.5rem 2rem;
  text-align: start !important;
  border-bottom: none !important;
}


/* * OWL CAROUSEL STYLE */

.owl-2-style .owl-nav {
  display: none;
}

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -20px;
}

.owl-2-style .owl-dots .owl-dot {
  display: inline-block;
}

.owl-2-style .owl-dots .owl-dot span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 0px;
  background: #cccccc;
  -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
  margin: 3px;
  border-radius: 50%;
}

.owl-2-style .owl-dots .owl-dot.active span {
  background: #007bff;
}

.owl-2-style .owl-dots .owl-dot:active,
.owl-2-style .owl-dots .owl-dot:focus {
  outline: none;
}



