/* !! FIRST SVG STYLES */
svg#freepik_stories-blog-post:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #freepik--background-simple--inject-1--inject-32 {
  animation: 3s Infinite linear floating;
  animation-delay: 0s;
}

svg#freepik_stories-blog-post.animated #freepik--graphics-2--inject-1--inject-32 {
  animation: 1s 1 forwards ease-in zoomIn, 1.5s Infinite linear wind;
  animation-delay: 0s, 5.5s;
}

svg#freepik_stories-blog-post.animated #el2agcw2hoaxy {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}

svg#freepik_stories-blog-post.animated #elo0frj0a56e {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.07142857142857142s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elrs5xo2m1uo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.14285714285714285s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #el12gki0ev5xq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.21428571428571427s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elh943n6uhr79 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2857142857142857s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elaum8tbz2z35 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3571428571428571s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elpjxhl8gaufh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.42857142857142855s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elxjp8ciwdoy9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elynsn9uv7p5o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5714285714285714s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #el9pg8h4o5045 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6428571428571428s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #eleimcamlam1g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7142857142857142s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elqggpkfegfzp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7857142857142857s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elh0ycwdoo46h {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8571428571428571s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #elpetvirul0xf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9285714285714285s;
  opacity: 0;
}

svg#freepik_stories-blog-post.animated #freepik--graphics-1--inject-1--inject-32 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}

@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wind {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1deg);
  }

  75% {
    transform: rotate(-1deg);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

.wavy-text-decoration {
  text-decoration: 2px underline wavy var(--color-red);
  text-underline-offset: 5px;
}

.call-to-action-bg{
  background-image: url(../img/call-to-action-bg.jpg);
}

.call-to-action-bg2{
  background-image: url(../img/call-to-action-bg2.jpg);
  background-size: cover;
  background-position: center center;
}