.background-img {
  height: 240px;  
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.edit-icon .iconsax {
  --Iconsax-Size: 18px;
  --Iconsax-Color: rgba(0, 0, 0, 0.7);
}

.cancel-icon .iconsax {
  --Iconsax-Size: 18px;
  --Iconsax-Color: #dc3545;
}
