{% extends 'base.html' %}
{% load static %}
{% block title %}
   Home
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}      

<header class="bg-light home-header d-grid align-content-center my-shadow">
   <div class="container-fluid px-5">
      <div class="row gx-5 mt-3">
         <div class="col-6 d-grid align-content-center">
            <div class="p-2 text-end">
               <h1 class="display-6">
                  Thrilling topics to look out for
               </h1>
               <p class="mt-3 font-semibold w-50 ms-auto">
                  We tackle interesting topics every day
               </p>
            </div>
         </div>
         <div class="col-4 mx-auto">
            <div class="">
               <img src="{% static 'img/blog-lady.png' %}" alt="" class="img-fluid pointer-events-none">
            </div>
         </div>
      </div>
   </div>
</header>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}