{% extends 'base.html' %}
{% load static %}
{% block title %}
{{post.post_title}}
{% endblock title %}
{% block styles %}
<style>
   .dropcap {
      font-size: 4em;
      font-weight: medium;
      font-family: "Cabin", sans-serif !important;
      display: block;
      float: left;
      margin: 0.04em 0.2em 0 0;
      color: #191a1f;
      line-height: 1;
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<section class="pt-3 mb-5 pb-1">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div 
               class="card bg-dark-overlay-5 overflow-hidden card-bg-scale h-350 text-center rounded-xl"
               style="background-image: url('{{post.post_image.url}}'); background-position: center; background-size: cover;"
            >
               <!-- Card Image overlay -->
               <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                  <div class="w-100 my-auto">
                     <!-- Card category -->
                     <a 
                        href="{% url 'category' post.category.slug %}" 
                        class="text-decoration-none badge text-bg-{{post.category.color}} mb-2 font-outfit font-medium text-sm"
                     >
                        <i class="fa-solid fa-layer-group me-2 "></i>
                        {{post.category}}
                     </a>
                     <!-- Card title -->
                     <h2 class="text-white display-5">
                        {{post.post_title}}
                     </h2>
                     <!-- Card info -->
                     <ul class="nav nav-divider text-white-force align-items-center justify-content-center">
                        <li class="nav-item">
                           <div class="nav-link">
                              <div class="d-flex align-items-center text-white position-relative">
                                 <div class="avatar avatar-sm">
                                    {% if post.post_author.profile_picture %}
                                    <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}" alt="avatar">
                                    {% else %}
                                    <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}" alt="avatar">
                                    {% endif %}
                                 </div>
                                 <span 
                                    class="ms-3"
                                 >
                                    by 
                                    <a 
                                       href="{% url 'author_external' post.post_author.slug %}"
                                       class="stretched-link text-reset btn-link"
                                    >
                                       {{post.post_author.get_short_name}}
                                    </a>
                                 </span>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item">
                           {{post.date_posted|date:"dS M , Y"}}
                        </li>
                        <li class="nav-item">
                           {{post.read_time}} min read
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section class="pt-0">
   <div class="container position-relative" data-sticky-container>
      <div class="row">
         <!-- Main Content START -->
         <div class="col-lg-9 mb-5">
            <p>
               {{post.post_content|safe}}
            </p>

            <br><br><br><br><br>
            <!-- Author info START -->
            <div class="d-flex p-2 p-md-4 my-3 bg-opacity-10 rounded bg-{{post.category.color}}">
               <!-- Avatar -->
               <a href="{% url 'author_external' post.post_author.slug %}">
                  <div class="avatar avatar-xxl me-2 me-md-4">                     
                     {% if post.post_author.profile_picture %}
                     <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}" alt="avatar">
                     {% else %}
                     <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}" alt="avatar">
                     {% endif %}
                  </div>
               </a>
               <!-- Info -->
               <div>
                  <div class="col d-sm-flex align-items-center justify-content-between">
                     <div>
                        <h4 class="m-0">
                           <a href="{% url 'author_external' post.post_author.slug %}" class="link-dark text-decoration-none text-capitalize">{{post.post_author.get_full_name}}</a>
                        </h4>
                        <small class="">{{post.post_author.job_title}}</small>
                     </div>                     
                  </div>
                  <div>
                     <p class="my-2">
                        {{post.post_author.bio}}
                     </p>
                     <!-- Social icons -->
                     <ul class="list-inline post-author-profile-icon mt-3 mb-0">
                     
                        <!-- Facebook -->
                        {% if post.post_author.socialhandle.facebook %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.facebook}}">
                              <i class='bx bxl-facebook text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                        <!-- LinkedIn -->
                        {% if post.post_author.socialhandle.linkedin %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.linkedin}}">
                              <i class='bx bxl-linkedin-square text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                        <!-- Twitter -->
                        {% if post.post_author.socialhandle.twitter %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.twitter}}">
                              <i class='bx bxl-twitter text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                        <!-- Instagram -->
                        {% if post.post_author.socialhandle.instagram %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.instagram}}">
                              <i class='bx bxl-instagram text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                     
                        <!-- Youtube -->
                        {% if post.post_author.socialhandle.youtube %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.youtube}}">
                              <i class='bx bxl-youtube text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                        <!-- Behance -->
                        {% if post.post_author.socialhandle.behance %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.behance}}">
                              <i class='bx bxl-behance text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     
                     
                        <!-- Dribble -->
                        {% if post.post_author.socialhandle.dribbble %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.dribbble}}">
                              <i class='bx bxl-dribbble text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
            <!-- Author info END -->
            
         </div>
         <!-- Main Content END -->

         <!-- Right sidebar START -->
         <div class="col-lg-3">
            <div data-sticky data-margin-top="80" data-sticky-for="991">
               <!-- Categories -->
               <div class="row g-2">
                  <h5>Categories</h5>
                  
                  {% for category in popular_categories %}                     
                  <div
                     class="d-flex justify-content-between align-items-center bg-{{category.color}} bg-opacity-10 rounded p-2 position-relative">
                     <h6 class="m-0 text-{{category.color}} text-capitalize">
                        {{category.name}}
                     </h6>
                     <a href="{% url 'category' category.slug %}" class="link-light font-outfit badge bg-{{category.color}} stretched-link text-decoration-none ">
                        {{category.posts_count}}
                     </a>
                  </div>
                  {% endfor %}

               </div>

               <!-- Newsletter START -->
               <div class="bg-light p-3 mt-5 rounded-3 text-center">
                  <h4>Subscribe to our mailing list!</h4>
                  <form class="mt-2" action="{% url 'footer' %}" method="POST">
                     {% csrf_token %}
                     <div class="mb-3">
                        <input 
                           type="email" 
                           name="email" 
                           id="email" 
                           title="user@email.com" 
                           class="form-control text-md" 
                           placeholder="Email address"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                           required
                        >
                     </div>
                     <button type="submit" class="btn btn-blue">Subscribe</button>                     
                  </form>
               </div>
               <!-- Newsletter END -->
            </div>
         </div>
         <!-- Right sidebar END -->
      </div>
   </div>
</section>


{% endblock %}