{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% block title %}
{{post.post_title}}
{% endblock title %}
{% block styles %}
<style>
   .nav.nav-divider .nav-item+.nav-item:before {
      content: "\22C5";
      color: #fff;
      padding-left: 0.65rem;
      padding-right: 0.75rem;
      opacity: 1;
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<section class="bg-dark-overlay-5 mb-5 pb-1 py-5 py-lg-0"
   style="background-image: url('{{post.post_image.url}}'); background-position: center left; background-size: cover;">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 py-4 py-md-5 my-lg-5">
            <a href="{% url 'category' post.category.slug %}"
               class="text-decoration-none badge text-bg-{{post.category.color}} mb-3 font-outfit font-medium text-sm">
               <i class="fa-solid fa-layer-group me-2 "></i>
               {{post.category}}
            </a>
            <h1 class="text-white">
               {{post.post_title}}
            </h1>
            <p class="lead text-white mt-4 mt-md-2">
               {{post.short_description}}
            </p>
            <!-- Info -->
            <ul class="nav nav-divider text-white-force align-items-center">
               <li class="nav-item">
                  <div class="nav-link">
                     <div class="d-flex align-items-center text-white position-relative">
                        <div class="avatar avatar-sm">
                           {% if post.post_author.profile_picture %}
                           <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}"
                              alt="Author avatar">
                           {% else %}
                           {% if post.post_author.gender == 'Male' %}
                           <img class="avatar-img rounded-circle" src="{% static 'img/user/male.jpg' %}"
                              alt="Author Avatar">
                           {% elif post.post_author.gender == 'Female' %}
                           <img class="avatar-img rounded-circle" src="{% static 'img/user/female.jpg' %}"
                              alt="Author Avatar">
                           {% else %}
                           <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}"
                              alt="Author Avatar">
                           {% endif %}
                           {% endif %}
                        </div>
                        <span class="ms-3">by
                           <a class="stretched-link text-reset btn-link cursor-pointer" tabindex="0"
                              data-bs-toggle="popover" data-bs-trigger="focus" data-bs-delay="500" data-bs-html="true"
                              data-bs-container="body" data-bs-offset="10,20" data-bs-placement="right" data-bs-content="
                                 <div class='custom-popover-content'>
                                    <div class='d-flex justify-content-between align-items-center'>
                                       <h6 class='font-cabin font-medium m-0 p-0'>
                                          <a 
                                             href='{% url 'author_external' post.post_author.slug %}'
                                             class='text-reset btn-link'
                                          >
                                             {{post.post_author.get_full_name}}
                                          </a>
                                       </h6>
                                       <small class='font-outfit text-sm text-gray-500'>@{{post.post_author.get_username}}</small>
                                    </div>
                                    <p class='font-light font-outfit text-sm m-0 p-0 mt-2'>
                                       {{post.post_author.bio|truncatewords:10}}
                                    </p>
                                    <hr class='m-0 p-0 my-2'>
                                    <div class='d-flex justify-content-between align-items-center'>
                                       <p class='m-0 p-0'>
                                          {% with followers=post.post_author.usersettings.followers.all|length %}
                                          {{followers}}
                                          Follower{{followers|pluralize }}
                                          {% endwith %}
                                       </p>
                                       {% if request.user.is_authenticated %}
                                          {% if request.user != post.post_author %}                                          
                                             {% if request.user in post.post_author.usersettings.followers.all %}
                                             <a href='{% url 'users:follow' request.user.slug post.post_author.username %}' class='btn text-xs btn-outline-light border rounded-pill px-3 btn-sm'>Following</a>
                                             {% else %}
                                             <a href='{% url 'users:follow' request.user.slug post.post_author.username %}' class='btn text-xs btn-blue btn-sm rounded-pill px-3'>Follow</a>
                                             {% endif %}
                                          {% endif %}
                                       {% else %}
                                          <a href='{% url 'login' %}' class='btn text-xs btn-blue btn-sm rounded-pill px-3'>Follow</a>
                                       {% endif %}
                                    </div>
                                 </div>
                              ">
                              {{post.post_author.get_full_name}}
                           </a>
                        </span>
                     </div>
                  </div>
               </li>
               <li class="nav-item">
                  {{post.date_posted|naturalday}}
               </li>
               <li class="nav-item">
                  <i class="fa-regular fa-clock me-1"></i>
                  {{post.read_time}} min read
               </li>
               <li class="nav-item">
                  <i class="far fa-eye me-1"></i>{% get_hit_count for post %}
               </li>

               {% if request.user.is_authenticated %}
               <li class="nav-item">
                  <a href="{% url 'users:like_post' request.user.slug post.id %}" class="text-decoration-none">
                     {% if request.user in post.likes.all %}
                     <i class="fas fa-heart me-1 text-white" data-bs-toggle="tooltip" data-bs-title="Unlike post"
                        data-bs-placement="bottom"></i>
                     {% else %}
                     <i class="fa-regular fa-heart me-1" data-bs-toggle="tooltip" data-bs-title="Like post"
                        data-bs-placement="bottom"></i>
                     {% endif %}
                  </a> {{post.likes.count}}
               </li>
               <li class="nav-item">
                  <a href="{% url 'users:bookmark_add' request.user.slug post.id %}" class="text-decoration-none">
                     {% if request.user in post.bookmarks.all %}
                     <i class="fa-solid fa-bookmark me-1 text-white" data-bs-toggle="tooltip"
                        data-bs-title="Added to bookmarks" data-bs-placement="bottom"></i>
                     {% else %}
                     <i class="fa-regular fa-bookmark me-1" data-bs-toggle="tooltip" data-bs-title="Add to bookmarks"
                        data-bs-placement="bottom"></i>
                     {% endif %}
                  </a>
               </li>
               {% else %}
               <li class="nav-item">
                  <i class="fas fa-heart me-1 text-white" data-bs-toggle="tooltip" data-bs-title="Unlike post"
                     data-bs-placement="bottom"></i>
                  {{post.likes.count}}
               </li>
               <li class="nav-item">
                  <a href="{% url 'login' %}" class="text-decoration-none">
                     <i class="fa-regular fa-bookmark me-1" data-bs-toggle="tooltip" data-bs-title="Add to bookmarks"
                        data-bs-placement="bottom"></i>
                  </a>
               </li>
               {% endif %}

               {% if post.post_author == request.user %}
               <li class="nav-item">
                  <a href="{% url 'blog:edit_post' post.slug %}" data-bs-toggle="tooltip" data-bs-title="Edit post"
                     data-bs-placement="bottom">
                     <i class="fa-solid fa-pen-to-square me-1"></i>
                  </a>
               </li>
               <li class="nav-item" >
                  <a href="" data-bs-toggle="modal" data-bs-target="#deletePostModal"
                     data-bs-placement="bottom">
                     <i class="fa-solid fa-trash-can me-1" data-bs-toggle="tooltip" data-bs-title="Delete post"></i>
                  </a>
               </li>
               {% endif %}
            </ul>

            <!-- Tags -->
            <ul class="nav nav-divider text-white-force align-items-center py-4">
               {% for tag in post.tags.all %}
               <li class="nav-item ">
                  <span class="badge bg-light text-dark text-md font-medium">
                     #{{tag}}
                  </span>
               </li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</section>


<br><br>
<section class="pt-0">
   <div class="container  position-relative" data-sticky-container>
      <div class="row g-4">
         <!-- Main Content START -->
         <div class="col-lg-9 mb-5">
            <p>
               {{post.post_content|safe}}
            </p>

            <br><br><br><br><br>
            <!-- Author info START -->
            <div class="d-flex p-2 p-md-4 my-3 bg-opacity-10 rounded bg-{{post.category.color}}">
               <!-- Avatar -->
               <a href="{% url 'author_external' post.post_author.slug %}">
                  <div class="avatar avatar-xxl me-2 me-md-4">
                     {% if post.post_author.profile_picture %}
                     <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}"
                        alt="Author avatar">
                     {% else %}
                     {% if post.post_author.gender == 'Male' %}
                     <img class="avatar-img rounded-circle" src="{% static 'img/user/male.jpg' %}" alt="Author Avatar">
                     {% elif post.post_author.gender == 'Female' %}
                     <img class="avatar-img rounded-circle" src="{% static 'img/user/female.jpg' %}"
                        alt="Author Avatar">
                     {% else %}
                     <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}"
                        alt="Author Avatar">
                     {% endif %}
                     {% endif %}
                  </div>
               </a>
               <!-- Info -->
               <div>
                  <div class="col d-sm-flex align-items-center justify-content-between">
                     <div>
                        <h4 class="m-0">
                           <a href="{% url 'author_external' post.post_author.slug %}"
                              class="text-reset btn-link">{{post.post_author.get_full_name}}</a>
                        </h4>
                        <small class="">{{post.post_author.job_title}}</small>
                     </div>
                  </div>
                  <div>
                     <p class="my-2">
                        {{post.post_author.bio}}
                     </p>
                     <!-- Social icons -->
                     <ul class="list-inline post-author-profile-icon mt-3 mb-0">

                        <!-- Facebook -->
                        {% if post.post_author.socialhandle.facebook %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.facebook}}">
                              <i class='bx bxl-facebook text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}

                        <!-- LinkedIn -->
                        {% if post.post_author.socialhandle.linkedin %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.linkedin}}">
                              <i class='bx bxl-linkedin-square text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}

                        <!-- Twitter -->
                        {% if post.post_author.socialhandle.twitter %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.twitter}}">
                              <i class='bx bxl-twitter text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}

                        <!-- Instagram -->
                        {% if post.post_author.socialhandle.instagram %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.instagram}}">
                              <i class='bx bxl-instagram text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}


                        <!-- Youtube -->
                        {% if post.post_author.socialhandle.youtube %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.youtube}}">
                              <i class='bx bxl-youtube text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}

                        <!-- Behance -->
                        {% if post.post_author.socialhandle.behance %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.behance}}">
                              <i class='bx bxl-behance text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}


                        <!-- Dribble -->
                        {% if post.post_author.socialhandle.dribbble %}
                        <li class="list-inline-item">
                           <a href="{{post.post_author.socialhandle.dribbble}}">
                              <i class='bx bxl-dribbble text-sm border p-2  rounded-circle'></i>
                           </a>
                        </li>
                        {% endif %}
                     </ul>
                  </div>
               </div>
            </div>
            <!-- Author info END -->

            <!-- Comments START -->

            {% if post.comments %}
                           
            <div class="mt-5">
               <h3>                  
                  {% with comments=post.comments.all|length %}
                  {{comments}}
                  comment{{ comments|pluralize }}
                  {% endwith %}                  
               </h3>

               {% for comments in post.comments.all %}                                 
               <!-- Comment level 1-->               
                  <div class="my-4 d-flex">
                     {% if comments.author.profile_picture %}                        
                        <img class="avatar avatar-md rounded-circle float-start me-3" src="{{comments.author.profile_picture.url}}" alt="avatar" />
                     {% else %}
                        {% if comments.author.gender == 'Male' %}                        
                           <img class="avatar avatar-md rounded-circle float-start me-3" src="{% static 'img/user/male.jpg' %}" alt="avatar" />
                        {% elif comments.author.gender == 'Female' %}                        
                           <img class="avatar avatar-md rounded-circle float-start me-3" src="{% static 'img/user/female.jpg' %}" alt="avatar" />
                        {% else %}                        
                           <img class="avatar avatar-md rounded-circle float-start me-3" src="{% static 'img/user/custom.jpg' %}" alt="avatar" />
                        {% endif %}
                     {% endif %}
                     <div>
                        <div class="mb-2">
                           <h5 class="m-0">
                              <a href="{% url 'author_external' comments.author.slug %}" class=" text-reset btn-link">
                                 {{comments.author.get_full_name}}
                              </a>
                           </h5>
                           <span class="me-3 text-sm font-outfit text-secondary">                              
                              {{comments.date_posted|date:'F j, Y'}}&nbsp;&nbsp;at&nbsp;&nbsp;{{comments.date_posted|date:'g:i a'}}

                           </span>
                           <a href="#" class="text-sm btn-link link-primary font-outfit text-decoration-none">Reply</a>
                        </div>
                        <p>
                           {{comments.comment}}
                        </p>
                     </div>
                  </div> 
               {% endfor %}

            </div>

            {% endif %}

            {% if request.user.is_authenticated %}
               <div>
                  <h3>Leave a reply</h3>
                  <form class="row g-3 mt-2" method="POST">
                     {% csrf_token %}
                     <div class="">
                        {{ form.comment }}
                     </div>
                     <div class="col-12">
                        <button type="submit" class="btn btn-blue">
                           Post comment
                        </button>
                     </div>
                  </form>
               </div>
            {% endif %}
         </div>
         <!-- Main Content END -->

         <!-- Right sidebar START -->
         <div class="col-lg-3">
            <div>
               {% if popular_posts > 0 %}

               <div>
                  <h5 class="my-3">Popular posts</h5>
                  <div class="mb-5">
                     <div class="owl-2-style px-4 px-md-0">
                        <div class="owl-carousel popular-posts-carousel">

                           {% for popular_post in popular_posts %}
                           {% if popular_post != post %}
                           <div class="card border-0">
                              <!-- Card img -->
                              <div class="position-relative">
                                 <img class="card-img" src="{{popular_post.post_image.url}}"
                                    style="aspect-ratio: 4/3;object-fit: cover;" alt="Card image">
                                 <div class="card-img-overlay d-flex align-items-start flex-column p-2">
                                    <!-- Card overlay Top -->
                                    <div class="w-100 mb-auto d-flex justify-content-end">
                                       <div class="text-end ms-auto">
                                          <!-- * Post Type -->
                                          {% if popular_post.post_type == 'video' %}
                                          <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                             data-bs-toggle="tooltip" data-bs-title="This post has video"
                                             data-bs-placement="right">
                                             <i class="fas fa-video"></i>
                                          </div>
                                          {% elif popular_post.post_type == 'images' %}
                                          <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                                             data-bs-toggle="tooltip" data-bs-title="This post has images"
                                             data-bs-placement="right">
                                             <i class="fa-solid fa-images text-md"></i>
                                          </div>
                                          {% endif %}
                                       </div>
                                    </div>
                                    <!-- Card overlay bottom -->
                                    <div class="w-100 mt-auto">
                                       <a href="{% url 'category' popular_post.category.slug %}"
                                          class="badge text-xs text-bg-{{popular_post.category.color}} mb-2 text-decoration-none font-outfit font-medium">
                                          <i class="fa-solid fa-layer-group me-2"></i> {{popular_post.category}}
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="card-body p-0 pt-3">
                                 <h5 class="card-title">
                                    <a href="{% url 'blog:single_post' popular_post.slug %}"
                                       class="btn-link text-reset fw-bold">
                                       {{popular_post.post_title}}
                                    </a>
                                 </h5>
                              </div>
                           </div>
                           {% endif %}
                           {% endfor %}

                        </div>
                     </div>
                  </div>
               </div>

               {% endif %}
               <!-- Categories -->
               <div class="row g-2">
                  <h5>Categories</h5>

                  {% for category in popular_categories %}
                  <div
                     class="d-flex justify-content-between align-items-center bg-light bg-opacity-100 my-shadow-sm rounded p-2 position-relative">
                     <h6 class="m-0 text-{{category.color}} text-capitalize">
                        {{category.name}}
                     </h6>
                     <a href="{% url 'category' category.slug %}"
                        class="link-light font-outfit badge bg-{{category.color}} stretched-link text-decoration-none ">
                        {{category.posts_count}}
                     </a>
                  </div>
                  {% endfor %}

               </div>

               <!-- Newsletter START -->
               <div class="bg-light p-3 mt-5 rounded-3 text-center">
                  <h4>Subscribe to our mailing list!</h4>
                  <form class="mt-2" action="{% url 'footer' %}" method="POST">
                     {% csrf_token %}
                     <div class="mb-3">
                        <input type="email" name="email" id="email" title="user@email.com" class="form-control text-md"
                           placeholder="Email address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                     </div>
                     <button type="submit" class="btn btn-blue">Subscribe</button>
                  </form>
               </div>
               <!-- Newsletter END -->
            </div>
         </div>
         <!-- Right sidebar END -->
      </div>
   </div>
</section>

<!-- ! Delete Post Modal -->
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="p-2 pb-0 d-flex justify-content-end">
            <a class="cursor-pointer cancel-modal" data-bs-dismiss="modal" aria-label="Close">
               <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                  <path
                     d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                  </path>
               </svg>
            </a>
         </div>
         <div class="d-grid justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="50" height="50" fill="#dc2626"
               viewBox="0 0 24 24">
               <path
                  d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
               </path>
               <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
            </svg>
            <h6 class="text-center mt-3">Are you sure you want to delete this post ?</h6>
         </div>
         <div class="modal-footer border-0 mb-3 d-flex justify-content-center">
            <a href="{% url 'blog:delete_post' post.slug %}" class="btn btn-sm btn-red">
               Yes, I'm sure
            </a>
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">
               No, cancel
            </button>
         </div>
      </div>
   </div>
</div>

<br><br><br><br>
{% endblock %}