{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Change Password ({{request.user.username}})
{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}

<br><br>

<!-- Update password START -->
<div class="col-lg-5 col-xxl-4 mx-auto container">
   <div class="card border">
      <div class="card-header bg-white border-bottom p-3">
         <h5 class="card-header-title mb-0">Update password</h5>
      </div>
      <form class="card-body" method="POST">
         {% csrf_token %}
         <div class="mb-3">
            <label class="form-label">Current password</label>
            <!-- <input class="form-control" type="password" placeholder="Enter current password"> -->
            {{ form.old_password }}
         </div>

         <div class="mb-3">
            <label class="form-label" id="psw-strength-message"></label>
            <div class="input-group">
               {{ form.new_password1 }}
               <!-- <input class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password"> -->
               <span class="input-group-text p-0 cursor-pointer"  onclick="toggleVisibility()">
                  <i class="fakepasswordicon far fa-eye cursor-pointer p-2 w-40px"></i>
               </span>
            </div>
            <div class="rounded mt-1" id="psw-strength"></div>
         </div>

         <div>
            <label class="form-label">Confirm new password</label>
            {{ form.new_password2 }}
         </div>


         <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-success btn-sm">Change password</button>
         </div>
      </form>
   </div>
</div>
<br><br><br>

{% block scripts %}
<script>
   $("form input").addClass("form-control")
   $('#id_old_password').attr('placeholder', 'Enter current password');
   $('#id_new_password1').attr('placeholder', 'Enter new password');
   $('#id_new_password2').attr('placeholder', 'Enter new password, again');
   function toggleVisibility() {
      var passwordField = document.getElementById("id_new_password1");
      if (passwordField.type === "password") {
         passwordField.type = "text";
      } else {
         passwordField.type = "password";
      }
   }

</script>
{% endblock scripts %}
{% endblock %}