{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
My Profile [{{user.username}}]
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<style>
   :root {
      --Iconsax-Size: 20px;
      --Iconsax-Color: #000000b3;
   }

   .cancel-modal svg {
      fill: rgba(0, 0, 0, 0.5) !important;
      transition: 0.1s;
   }

   .cancel-modal:hover svg {
      fill: rgba(0, 0, 0, 0.8) !important;
      transition: 0.1s;
   }

   .background-img {
      filter: brightness(0.8);
   }

   .social-links-share {
      transition: .2s;
   }

   .social-links-share:hover {
      fill: #234e70;
      transition: .2s;
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<div class="container-md mt-4">
   <div class="col-12">
      <div class="mb-4 position-relative z-index-9">
         <!-- Cover image -->
         <div class="py-5 rounded-2xl background-img" {% if user.background_image %}
            style="background-image: url('{{user.background_image.url}}');" {% else %}
            style="background-image: url('{% static "img/user/bkg_placeholder2.jpg" %}');" {% endif %}>
         </div>
         <div class="card-body pt-3 pb-0">
            <div class="row d-flex justify-content-between">
               <!-- Avatar -->
               <div class="col-sm-12 col-md-auto text-center text-md-start">
                  <div class="avatar avatar-xxl mt-n7">
                     {% if user.profile_picture %}
                     <img 
                        class="avatar-img rounded-circle border border-white border-3 pointer-events-none"                          
                        src="{{user.profile_picture.url}}" alt="User Avatar"
                     >
                     {% else %}
                     {% if user.gender == 'Male' %}
                     <img 
                        class="avatar-img rounded-circle border border-white border-3 pointer-events-none"                          
                        src="{% static 'img/user/male.jpg' %}" alt="User Avatar"
                     >
                     {% elif user.gender == 'Female' %}
                     <img 
                        class="avatar-img rounded-circle border border-white border-3 pointer-events-none"                          
                        src="{% static 'img/user/female.jpg' %}" alt="User Avatar"
                     >
                     {% else %}
                     <img 
                        class="avatar-img rounded-circle border border-white border-3 pointer-events-none"                          
                        src="{% static 'img/user/custom.jpg' %}" alt="User Avatar"
                     >
                     {% endif %}
                     {% endif %}
                  </div>
               </div>
               <!-- Profile info -->
               <div
                  class="col-sm-12 mt-3 mt-md-0 col-md text-center text-md-start d-md-flex justify-content-between align-items-center">
                  <div>
                     <!-- ? User fullname -->
                     <h4 class="m-0 p-0">
                        {{user.get_full_name|default:"Firstname Lastname"}}

                        {% if user.usersettings.is_verified %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="verified-icon" viewBox="0 0 24 24">
                           <path
                              d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                           </path>
                        </svg>
                        {% endif %}
                     </h4>
                     <small class="font-medium text-gray-500">
                        @{{user.get_username}}
                     </small>
                     <ul class="list-inline text-md pt-1">

                        <!-- ? User Email -->
                        <li class="list-inline-item">                           
                           <svg class="me-1 pb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M17 20.5H7C4 20.5 2 19 2 15.5V8.5C2 5 4 3.5 7 3.5H17C20 3.5 22 5 22 8.5V15.5C22 19 20 20.5 17 20.5Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M17 9L13.87 11.5C12.84 12.32 11.15 12.32 10.12 11.5L7 9" stroke="#292D32" stroke-width="1.5"
                                 stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                           {{user.email}}
                        </li>

                        <!-- ? User Job Title -->
                        <li class="list-inline-item">
                           <svg class="me-1 pb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M21.08 8.58003V15.42C21.08 16.54 20.48 17.58 19.51 18.15L13.57 21.58C12.6 22.14 11.4 22.14 10.42 21.58L4.48003 18.15C3.51003 17.59 2.91003 16.55 2.91003 15.42V8.58003C2.91003 7.46003 3.51003 6.41999 4.48003 5.84999L10.42 2.42C11.39 1.86 12.59 1.86 13.57 2.42L19.51 5.84999C20.48 6.41999 21.08 7.45003 21.08 8.58003Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M12 11.0001C13.2869 11.0001 14.33 9.95687 14.33 8.67004C14.33 7.38322 13.2869 6.34009 12 6.34009C10.7132 6.34009 9.67004 7.38322 9.67004 8.67004C9.67004 9.95687 10.7132 11.0001 12 11.0001Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M16 16.6601C16 14.8601 14.21 13.4001 12 13.4001C9.79 13.4001 8 14.8601 8 16.6601" stroke="#292D32"
                                 stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>

                           {{user.job_title|default:"[Job title]"}}
                        </li>

                        <!-- ? User City -->

                        <li class="list-inline-item">
                           <svg class="me-1 pb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12 13.4299C13.7231 13.4299 15.12 12.0331 15.12 10.3099C15.12 8.58681 13.7231 7.18994 12 7.18994C10.2769 7.18994 8.88 8.58681 8.88 10.3099C8.88 12.0331 10.2769 13.4299 12 13.4299Z"
                                 stroke="#292D32" stroke-width="1.5" />
                              <path
                                 d="M3.62001 8.49C5.59001 -0.169998 18.42 -0.159997 20.38 8.5C21.53 13.58 18.37 17.88 15.6 20.54C13.59 22.48 10.41 22.48 8.39001 20.54C5.63001 17.88 2.47001 13.57 3.62001 8.49Z"
                                 stroke="#292D32" stroke-width="1.5" />
                           </svg>
                           {{user.city|default:"[City]"}}
                        </li>

                        <!-- ? User Joined date -->
                        <li class="list-inline-item">
                           <svg class="me-1 pb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M16 2V5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M3.5 9.08997H20.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M11.9955 13.7H12.0045" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M8.29431 13.7H8.30329" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M8.29431 16.7H8.30329" stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>

                           Joined on {{user.date_joined|date:"D, dS F, Y"}}
                        </li>

                        <!-- ? User Followers -->
                        <li class="list-inline-item">
                           <svg class="me-1 pb-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M9.16006 10.87C9.06006 10.86 8.94006 10.86 8.83006 10.87C6.45006 10.79 4.56006 8.84 4.56006 6.44C4.56006 3.99 6.54006 2 9.00006 2C11.4501 2 13.4401 3.99 13.4401 6.44C13.4301 8.84 11.5401 10.79 9.16006 10.87Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M16.41 4C18.35 4 19.91 5.57 19.91 7.5C19.91 9.39 18.41 10.93 16.54 11C16.46 10.99 16.37 10.99 16.28 11"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M4.15997 14.56C1.73997 16.18 1.73997 18.82 4.15997 20.43C6.90997 22.27 11.42 22.27 14.17 20.43C16.59 18.81 16.59 16.17 14.17 14.56C11.43 12.73 6.91997 12.73 4.15997 14.56Z"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path
                                 d="M18.3401 20C19.0601 19.85 19.7401 19.56 20.3001 19.13C21.8601 17.96 21.8601 16.03 20.3001 14.86C19.7501 14.44 19.0801 14.16 18.3701 14"
                                 stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                            {{user.usersettings.followers.all|length}}
                        </li>
                     </ul>
                     <p class="m-0"></p>
                  </div>

                  <!-- Links -->
                  <div class="d-flex align-items-center justify-content-center justify-content-md-end">                     
                     <!-- Card action START -->
                     <div class="dropdown ms-3">
                        <a class="text-secondary" href="" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                           data-bs-auto-close="outside" aria-expanded="false">
                           <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M12.25 17C13.9069 17 15.25 18.3431 15.25 20C15.25 21.6569 13.9069 23 12.25 23C10.5931 23 9.25 21.6569 9.25 20C9.25 18.3431 10.5931 17 12.25 17Z"
                                 fill="#1C274C" />
                              <path
                                 d="M17.25 7C15.5931 7 14.25 8.34315 14.25 10C14.25 11.6569 15.5931 13 17.25 13C18.9069 13 20.25 11.6569 20.25 10C20.25 8.34315 18.9069 7 17.25 7Z"
                                 fill="#1C274C" />
                              <path
                                 d="M11.75 9.20852C12.1642 9.20852 12.5 9.54431 12.5 9.95852C12.5 10.3727 12.1642 10.7085 11.75 10.7085L4.75 10.7085C4.33579 10.7085 4 10.3727 4 9.95852C4 9.54431 4.33579 9.20852 4.75 9.20852H11.75Z"
                                 fill="#1C274C" />
                              <path
                                 d="M17.75 19.2085C17.3358 19.2085 17 19.5443 17 19.9585C17 20.3727 17.3358 20.7085 17.75 20.7085H24.75C25.1642 20.7085 25.5 20.3727 25.5 19.9585C25.5 19.5443 25.1642 19.2085 24.75 19.2085H17.75Z"
                                 fill="#1C274C" />
                              <path
                                 d="M4 19.9585C4 19.5443 4.33579 19.2085 4.75 19.2085H6.75C7.16421 19.2085 7.5 19.5443 7.5 19.9585C7.5 20.3727 7.16421 20.7085 6.75 20.7085H4.75C4.33579 20.7085 4 20.3727 4 19.9585Z"
                                 fill="#1C274C" />
                              <path
                                 d="M24.75 9.20852C25.1642 9.20852 25.5 9.54431 25.5 9.95852C25.5 10.3727 25.1642 10.7085 24.75 10.7085L22.75 10.7085C22.3358 10.7085 22 10.3727 22 9.95852C22 9.54431 22.3358 9.20852 22.75 9.20852H24.75Z"
                                 fill="#1C274C" />
                           </svg>

                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="profileDropdown">
                           {% if user.is_superuser %}
                           <li>
                              <a class="dropdown-item" target="_blank" href="/pen_admin/">                                 
                                 <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                       d="M6 13.4167C6 10.2191 6 8.62028 6.37752 8.08241C6.75503 7.54454 8.25832 7.02996 11.2649 6.00079L11.8377 5.80472C13.405 5.26824 14.1886 5 15 5C15.8114 5 16.595 5.26824 18.1623 5.80472L18.7351 6.00079C21.7417 7.02996 23.245 7.54454 23.6225 8.08241C24 8.62028 24 10.2191 24 13.4167V14.9914C24 20.6294 19.761 23.3655 17.1014 24.5273C16.38 24.8424 16.0193 25 15 25C13.9807 25 13.62 24.8424 12.8986 24.5273C10.239 23.3655 6 20.6294 6 14.9914V13.4167ZM17 12C17 13.1046 16.1046 14 15 14C13.8954 14 13 13.1046 13 12C13 10.8954 13.8954 10 15 10C16.1046 10 17 10.8954 17 12ZM15 20C19 20 19 19.1046 19 18C19 16.8954 17.2091 16 15 16C12.7909 16 11 16.8954 11 18C11 19.1046 11 20 15 20Z"
                                       fill="#333" />
                                 </svg>

                                 Admin Panel
                              </a>
                           </li>
                           {% endif %}

                           <li>
                              <a class="dropdown-item edit-icon" href="{% url 'users:edit_profile' user.slug %}">
                                 <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                       d="M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5C12.7909 5 11 6.79086 11 9C11 11.2091 12.7909 13 15 13Z"
                                       fill="#333" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                       d="M21 18.75C19.2051 18.75 17.75 20.2051 17.75 22C17.75 23.7949 19.2051 25.25 21 25.25C22.7949 25.25 24.25 23.7949 24.25 22C24.25 20.2051 22.7949 18.75 21 18.75ZM19.25 22C19.25 21.0335 20.0335 20.25 21 20.25C21.2063 20.25 21.4043 20.2857 21.5881 20.3513L19.3513 22.5881C19.2857 22.4043 19.25 22.2063 19.25 22ZM20.4119 23.6487L22.6487 21.4119C22.7143 21.5957 22.75 21.7937 22.75 22C22.75 22.9665 21.9665 23.75 21 23.75C20.7937 23.75 20.5957 23.7143 20.4119 23.6487Z"
                                       fill="#333" />
                                    <path
                                       d="M15 25C7 25 7 22.9853 7 20.5C7 18.0147 10.5817 16 15 16C17.3695 16 19.4983 16.5794 20.9632 17.5001C18.4949 17.5199 16.5 19.527 16.5 22C16.5 23.1115 16.903 24.1288 17.5708 24.9139C16.8219 24.9704 15.9697 25 15 25Z"
                                       fill="#333" />
                                 </svg>

                                 Edit profile
                              </a>
                           </li>
                           <li>
                              <a data-bs-toggle="modal" data-bs-target="#shareProfileModal"
                                 class="dropdown-item edit-icon" href="{% url 'users:edit_profile' user.slug %}">
                                 <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                       d="M12 9C12 10.6569 13.3431 12 15 12C16.6569 12 18 10.6569 18 9C18 7.34315 16.6569 6 15 6C13.3431 6 12 7.34315 12 9Z"
                                       fill="#333" />
                                    <path
                                       d="M5.5 21C5.5 22.6569 6.84315 24 8.5 24C10.1569 24 11.5 22.6569 11.5 21C11.5 19.3431 10.1569 18 8.5 18C6.84315 18 5.5 19.3431 5.5 21Z"
                                       fill="#333" />
                                    <path
                                       d="M21.5 24C19.8431 24 18.5 22.6569 18.5 21C18.5 19.3431 19.8431 18 21.5 18C23.1569 18 24.5 19.3431 24.5 21C24.5 22.6569 23.1569 24 21.5 24Z"
                                       fill="#333" />
                                    <path
                                       d="M10.2047 10.5623C10.5152 10.2882 10.5448 9.81426 10.2707 9.5037C9.99659 9.19315 9.52264 9.1636 9.21208 9.43769C7.39676 11.0399 6.25 13.3865 6.25 16C6.25 16.4142 6.58579 16.75 7 16.75C7.41421 16.75 7.75 16.4142 7.75 16C7.75 13.8347 8.69828 11.8919 10.2047 10.5623Z"
                                       fill="#333" />
                                    <path
                                       d="M20.7879 9.43769C20.4774 9.1636 20.0034 9.19315 19.7293 9.5037C19.4552 9.81426 19.4848 10.2882 19.7953 10.5623C21.3017 11.8919 22.25 13.8347 22.25 16C22.25 16.4142 22.5858 16.75 23 16.75C23.4142 16.75 23.75 16.4142 23.75 16C23.75 13.3865 22.6032 11.0399 20.7879 9.43769Z"
                                       fill="#333" />
                                    <path
                                       d="M13.1869 23.0217C12.7858 22.9184 12.3769 23.1599 12.2737 23.561C12.1704 23.9622 12.4119 24.3711 12.8131 24.4743C13.5129 24.6544 14.2458 24.75 15 24.75C15.7542 24.75 16.4871 24.6544 17.1869 24.4743C17.5881 24.3711 17.8296 23.9622 17.7263 23.561C17.6231 23.1599 17.2142 22.9184 16.8131 23.0217C16.2344 23.1706 15.627 23.25 15 23.25C14.373 23.25 13.7656 23.1706 13.1869 23.0217Z"
                                       fill="#333" />
                                 </svg>                                 
                                 Share profile
                              </a>
                           </li>
                           <li>
                              <hr class="dropdown-divider">
                           </li>
                           <li class="my-0 py-0">
                              <a class="dropdown-item text-danger cursor-pointer d-flex align-items-center" data-bs-toggle="modal"
                                 data-bs-target="#deleteModal">
                                 <svg class="me-1" width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                       d="M25 15C25 20.5228 20.5228 25 15 25C9.47715 25 5 20.5228 5 15C5 9.47715 9.47715 5 15 5C20.5228 5 25 9.47715 25 15ZM11.9696 11.9696C12.2625 11.6768 12.7374 11.6768 13.0303 11.9696L15 13.9393L16.9696 11.9697C17.2625 11.6768 17.7374 11.6768 18.0303 11.9697C18.3232 12.2626 18.3232 12.7374 18.0303 13.0303L16.0606 15L18.0303 16.9696C18.3232 17.2625 18.3232 17.7374 18.0303 18.0303C17.7374 18.3232 17.2625 18.3232 16.9696 18.0303L15 16.0607L13.0303 18.0303C12.7374 18.3232 12.2625 18.3232 11.9696 18.0303C11.6768 17.7374 11.6768 17.2625 11.9696 16.9697L13.9393 15L11.9696 13.0303C11.6767 12.7374 11.6767 12.2625 11.9696 11.9696Z"
                                       fill="#dc3545" />
                                 </svg>

                                 <span>Delete profile</span>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <!-- Card action END -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row g-4 mt-5">
      <!-- Left sidebar START -->
      <div class="col-lg-7 col-xxl-8">
         <!-- Profile START -->
         <div class="card border mb-4">
            <div class="card-header bg-white border-bottom p-3 d-flex justify-content-between">
               <h5 class="card-header-title mb-0">Profile</h5>
               <a href="{% url 'users:edit_profile' user.slug %}" class="btn btn-sm btn-blue mb-0">Edit Profile</a>
            </div>
            <div class="card-body">
               <!-- Full name -->
               <div class="mb-3">
                  <label class="form-label">Full name</label>
                  <div class="input-group">
                     <input type="text" class="form-control bg-white" value="{{user.first_name}}" placeholder="First name" readonly>
                     <input type="text" class="form-control bg-white" value="{{user.last_name}}" placeholder="Last name" readonly>
                  </div>
               </div>
               <!-- Username -->
               <div class="mb-3">
                  <label class="form-label">Username</label>
                  <div class="input-group">                     
                     <span 
                        class="input-group-text font-outfit bg-light user-select-none" 
                        id="user_name"
                     >
                        <span id="currentHost"></span>/@
                     </span>
                     <input type="text" class="form-control bg-white" value="{{user.username}}" readonly>
                  </div>
               </div>

               <!-- Job title -->
               <div class="mb-3">
                  <label class="form-label">Job title</label>
                  <input class="form-control bg-white" type="text" value="{{user.job_title}}" readonly>
               </div>
               <!-- City -->
               <div class="mb-3">
                  <label class="form-label">City</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.city %}
                        value="{{user.city}}" 
                     {% else %}
                        value="Nil"
                     {% endif %}
                     readonly
                  >
               </div>
               <!-- Bio -->
               <div class="mb-3">
                  <label class="form-label">Bio</label>
                  <textarea 
                     class="form-control bg-white text-md"
                     style="resize: none"
                     rows="5"
                     readonly
                  >{% if user.bio %}{{user.bio}} {% else %} Nil {% endif %}
                  </textarea>
               </div>
               <!-- Birthday -->
               <div>
                  <label class="form-label">Birthday</label>
                  <input type="text" class="form-control bg-white" value="{{user.date_of_birth|date:'F jS, Y'}}" readonly>
               </div>

            </div>
         </div>
         <!-- Profile END -->         
            
         <!-- Social links START -->
         <div class="card border mb-4">
            <div class="card-header bg-white border-bottom p-3">
               <h5 class="card-header-title mb-0">Social links</h5>
            </div>
            <div class="card-body">
               <!-- Facebook -->
               <div class="mb-3">
                  <label class="form-label">Facebook</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.facebook %}
                        value="{{user.socialhandle.facebook}}" 
                     {% else %}
                        value="Nil"
                     {% endif %}                      
                     readonly
                  >
               </div>
               <!-- Linkedin -->
               <div class="mb-3">
                  <label class="form-label">linkedin</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.linkedin %}
                        value="{{user.socialhandle.linkedin}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               <!-- Twitter -->
               <div class="mb-3">
                  <label class="form-label">Twitter</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.twitter %}
                        value="{{user.socialhandle.twitter}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               <!-- Instagram -->
               <div class="mb-3">
                  <label class="form-label">Instagram</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.instagram %}
                        value="{{user.socialhandle.instagram}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               <!-- Youtube -->
               <div class="mb-3">
                  <label class="form-label">Youtube</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.youtube %}
                        value="{{user.socialhandle.youtube}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               <!-- Behance -->
               <div class="mb-3">
                  <label class="form-label">Behance</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.behance %}
                        value="{{user.socialhandle.behance}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               <!-- Dribbble -->
               <div class="mb-3">
                  <label class="form-label">Dribbble</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.socialhandle.dribbble %}
                        value="{{user.socialhandle.dribbble}}"
                     {% else %}
                        value="Nil"
                     {% endif %} 
                     readonly
                  >
               </div>
               
            </div>
         </div>
         <!-- Social links END -->
            
      </div>
      <!-- Left sidebar END -->
   
      <!-- Right sidebar START -->
      <div class="col-lg-5 col-xxl-4">
         <!-- Profile Setting START -->
         <!-- <div class="card border mb-4">
            <div class="card-header bg-white border-bottom p-3">
               <h5 class="card-header-title mb-0">Profile Setting</h5>
            </div>
            <div class="card-body">
               <div class="form-check form-switch form-check-md mb-3">
                  <input class="form-check-input" type="checkbox" id="availabilityCheck" checked="">
                  <label class="form-check-label" for="availabilityCheck">Visible profile to everyone</label>
               </div>
               <div class="form-check form-switch form-check-md mb-3">
                  <input class="form-check-input" type="checkbox" id="proCheck" disabled="">
                  <label class="form-check-label" for="proCheck">Disable ads <span
                        class="badge bg-primary align-middle">Pro</span></label>
               </div>
            </div>
         </div> -->
         <!-- Profile Setting END -->   

         <!-- Personal information START -->
         <div class="card border mb-4">
            <div class="card-header bg-white border-bottom p-3">
               <h5 class="card-header-title mb-0">Personal information</h5>
            </div>
            <div class="card-body">
               <!-- Email -->
               <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input 
                     class="form-control bg-white" 
                     type="email" 
                     value="{{user.email}}" 
                     readonly
                  >
               </div>
               <!-- Phone Number -->
               <div class="mb-3">
                  <label class="form-label">Mobile Number</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.mobile_no %}
                        value="{{user.mobile_no}}" 
                     {% else %}
                        value="Nil"
                     {% endif %}
                     readonly
                  >
               </div>               
               <!-- Address -->
               <div class="mb-3">
                  <label class="form-label">Address</label>
                  <input 
                     class="form-control bg-white" 
                     type="text" 
                     {% if user.address %}
                        value="{{user.address}}" 
                     {% else %}
                        value="Nil"                        
                     {% endif %}
                     readonly
                  >
               </div>
            </div>
         </div>
         <!-- Personal information END -->

         <!-- Update password START -->
         <div class="card border">
            <div class="card-header bg-white border-bottom p-3">
               <h5 class="card-header-title mb-0">Update password</h5>
            </div>
            <div class="card-body">
               <div class="mb-3">
                  <label class="form-label">Current password</label>
                  <input class="form-control" type="password" placeholder="Enter current password">
               </div>
               <!-- New password -->
               <div class="mb-3">
                  <label class="form-label" id="psw-strength-message"></label>
                  <div class="input-group">
                     <input class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password">
                     <span class="input-group-text p-0">
                        <i class="fakepasswordicon far fa-eye cursor-pointer p-2 w-40px"></i>
                     </span>
                  </div>
                  <div class="rounded mt-1" id="psw-strength"></div>
               </div>
               <!-- New password -->
               <div>
                  <label class="form-label">Confirm new password</label>
                  <input class="form-control" type="password" placeholder="Enter new password">
               </div>
               <div class="d-flex justify-content-end mt-4">
                  <a href="#" class="btn btn-primary">Change password</a>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>


<!-- ! Delete Account Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="p-2 pb-0 d-flex justify-content-end">
            <a class="cursor-pointer cancel-modal" data-bs-dismiss="modal" aria-label="Close">
               <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24">
                  <path
                     d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                  </path>
               </svg>
            </a>
         </div>
         <div class="d-grid justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto" width="50" height="50" fill="#dc2626"
               viewBox="0 0 24 24">
               <path
                  d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM12 20c-4.411 0-8-3.589-8-8s3.567-8 7.953-8C16.391 4 20 7.589 20 12s-3.589 8-8 8z">
               </path>
               <path d="M11 7h2v7h-2zm0 8h2v2h-2z"></path>
            </svg>
            <h6 class="text-center mt-3">Are you sure you want to delete your account?</h6>
         </div>
         <div class="modal-footer border-0 mb-3 d-flex justify-content-center">
            <a href="{% url 'users:delete_account' user.slug %}" class="btn btn-sm btn-red">
               Yes, I'm sure
            </a>
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">No, cancel</button>
         </div>
      </div>
   </div>
</div>


<!-- ! Share Profile Modal -->
<div class="modal fade" id="shareProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
         <div class="">
            <ul class="avatar-group mb-0 mx-auto w-fit">
               <li class="avatar avatar-sm">
                  <img class="avatar-img rounded-circle" src="{% static 'img/avatar.jpg' %}" alt="avatar">
               </li>
               <li class="avatar avatar-sm">
                  <img class="avatar-img rounded-circle" src="{% static 'img/avatar2.jpg' %}" alt="avatar">
               </li>
               <li class="avatar avatar-sm">
                  {% if user.profile_picture %}
                  <img class="avatar-img rounded-circle" src="{{request.user.profile_picture.url}}" alt="avatar">
                  {% else %}
                  {% if user.gender == 'Male' %}
                  <img class="avatar-img rounded-circle" src="{% static 'img/user/male.jpg' %}" alt="avatar">
                  {% elif user.gender == 'Female' %}
                  <img class="avatar-img rounded-circle" src="{% static 'img/user/female.jpg' %}" alt="avatar">
                  {% else %}
                  <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}" alt="avatar">
                  {% endif %}
                  {% endif %}
               </li>
            </ul>
            <h5 class="text-center my-3">Invite Your Friends</h5>
            <p class="mb-2">
               Share link
            </p>
            <div class="input-group">
               <input id="user-url-input" type="text" class="form-control bg-white border-1 text-md"
                  placeholder="User's Profile Link" aria-label="User's Profile Link" aria-describedby="user-url-copy"
                  value="http://localhost:700/@{{user.username}}" readonly>
               <button class="input-group-text cursor-pointer user-url-copy bg-primary bg-opacity-10" data-clipboard-action="copy"
                  data-clipboard-target="#user-url-input">
                  
                  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path
                        d="M19 7.00195C21.175 7.01406 22.3529 7.11051 23.1213 7.87889C24 8.75757 24 10.1718 24 13.0002V19.0002C24 21.8286 24 23.2429 23.1213 24.1215C22.2426 25.0002 20.8284 25.0002 18 25.0002H12C9.17157 25.0002 7.75736 25.0002 6.87868 24.1215C6 23.2429 6 21.8286 6 19.0002V13.0002C6 10.1718 6 8.75757 6.87868 7.87889C7.64706 7.11051 8.82497 7.01406 11 7.00195"
                        stroke="#333" stroke-width="1.5" />
                     <path d="M11 17H19" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                     <path d="M10 13.5H20" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                     <path d="M12 20.5H18" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" />
                     <path
                        d="M11 6.5C11 5.67157 11.6716 5 12.5 5H17.5C18.3284 5 19 5.67157 19 6.5V7.5C19 8.32843 18.3284 9 17.5 9H12.5C11.6716 9 11 8.32843 11 7.5V6.5Z"
                        stroke="#1C274C" stroke-width="1.5" />
                  </svg>

               </button>
            </div>

            <div class="mt-3 d-flex justify-content-center">
               <!-- ! Twitter -->
               <a href=" https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.localhost%3A700%2F%40george&text=Hey%2C%20check%20out%20my%20Creative%20Pen%20profile%20at"
                  target="_blank" rel="noopener noreferrer">
                  <svg class="mx-1 social-links-share" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                     width="30" height="30">
                     <path
                        d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-48.9 158.8c.2 2.8.2 5.7.2 8.5 0 86.7-66 186.6-186.6 186.6-37.2 0-71.7-10.8-100.7-29.4 5.3.6 10.4.8 15.8.8 30.7 0 58.9-10.4 81.4-28-28.8-.6-53-19.5-61.3-45.5 10.1 1.5 19.2 1.5 29.6-1.2-30-6.1-52.5-32.5-52.5-64.4v-.8c8.7 4.9 18.9 7.9 29.6 8.3a65.447 65.447 0 0 1-29.2-54.6c0-12.2 3.2-23.4 8.9-33.1 32.3 39.8 80.8 65.8 135.2 68.6-9.3-44.5 24-80.6 64-80.6 18.9 0 35.9 7.9 47.9 20.7 14.8-2.8 29-8.3 41.6-15.8-4.9 15.2-15.2 28-28.8 36.1 13.2-1.4 26-5.1 37.8-10.2-8.9 13.1-20.1 24.7-32.9 34z" />
                  </svg>
               </a>

               <svg class="mx-1 social-links-share" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30"
                  height="30">
                  <path
                     d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z" />
               </svg>
            </div>

            <div class="d-flex justify-content-center mt-3">
               <button type="button" class="btn btn-secondary-soft btn-sm px-3" data-bs-dismiss="modal"
                  aria-label="Close">Close</button>
            </div>
            <!-- ! Successful profile toast -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
               <div id="successToast" class="toast " role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header d-flex align-items-center">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check me-1"
                        width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#198754"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <path d="M9 12l2 2l4 -4"></path>
                     </svg>
                     <span class="me-auto text-success font-medium font-cabin fs-6">Success</span>
                     <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                  </div>
                  <div class="toast-body bg-white font-outfit text-md">
                     Profile URL copied!
                  </div>
               </div>
            </div>

            <!-- ! Error profile toast -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
               <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header d-flex align-items-center">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check me-1"
                        width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="#fff" fill="#DC3545"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <path d="M9 12l2 2l4 -4"></path>
                     </svg>
                     <span class="me-auto text-danger font-medium font-cabin fs-6">Error</span>
                     <button type="button" class="btn-close btn btn-sm" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                  </div>
                  <div class="toast-body bg-white font-outfit text-md">
                     An error occured!
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<br><br><br>
{% endblock %}

{% block scripts %}
<script>
   let currentHost = document.getElementById('currentHost')
   currentHost.innerHTML = window.location.host;
   var clipboard = new ClipboardJS('.user-url-copy');
   const successToast = document.getElementById('successToast')
   const toast1 = new bootstrap.Toast(successToast)
   const errorToast = document.getElementById('errorToast')
   const toast2 = new bootstrap.Toast(errorToast)
   clipboard.on('success', function (e) {
      toast1.show()
   });
   clipboard.on('error', function (e) {
      toast2.show()
   });
</script>
{% endblock scripts %}