{% extends 'base.html' %}
{% load static %}
{% block title %}
   {% if author%}
      {{author.get_full_name}}
   {% elif reader %}
      {{reader.get_full_name}}
   {% endif %}
{% endblock title %}
{% block styles %}
<style>
   :root {
      --Iconsax-Size: 20px;
      --Iconsax-Color: rgba(0, 0, 0, 0.7);
   }
   .background-img {
      filter: brightness(0.8);
      background-size: cover;
      background-position: center;
      object-fit: cover;
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}

{% if author %}
   
<div class="author-info py-4 pt-4 px-2 bg-light text-center border-bottom">
   <div class="avatar avatar-xxl mb-3">
      {% if author.profile_picture %}
      <img class="avatar-img rounded-circle border-0 pointer-events-none" src="{{author.profile_picture.url}}" alt="">
      {% else %}
      <img class="avatar-img rounded-circle border-0 pointer-events-none" src="{% static 'img/user/custom.jpg' %}"
         alt="">
      {% endif %}
   </div>
   <h2 class="font-semibold mb-0">Hi, I'm {{author.get_full_name}}</h2>   
   <small class="font-medium text-gray-500">
      @{{author.get_username}}
   </small>
   <ul class="list-inline my-1">
      {% if author.job_title %}         
      <li class="list-inline-item">
         <small class="d-block text-gray-500 text-sm">
            <i class="fa-solid fa-user fa-sm me-1"></i>
            {{author.job_title|default:""}}
         </small>
      </li>
      {% endif %}
      {% if author.city %}         
      <li class="list-inline-item">
         <small class="d-block text-gray-500 text-sm">            
            <i class="fa-solid fa-location-dot fa-sm me-1"></i>
            {{author.city|default:""}}
         </small>
      </li>
      {% endif %}
   </ul>
   <small class="bg-red py-1 px-2 rounded-pill text-white badge font-medium">            
      8 Articles
   </small>
   <p class="col-md-5 mx-auto text-gray-500 mt-2 font-light">
      {{author.bio|default:""}}
   </p>
   <ul class="list-inline author-profile-icon">

      <!-- Facebook -->
      {% if author.socialhandle.facebook %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.facebook}}">
            <i class='bx bxl-facebook text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}

      <!-- LinkedIn -->
      {% if author.socialhandle.linkedin %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.linkedin}}">
            <i class='bx bxl-linkedin-square text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}

      <!-- Twitter -->
      {% if author.socialhandle.twitter %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.twitter}}">
            <i class='bx bxl-twitter text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}

      <!-- Instagram -->
      {% if author.socialhandle.instagram %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.instagram}}">
            <i class='bx bxl-instagram text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}


      <!-- Youtube -->
      {% if author.socialhandle.youtube %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.youtube}}">
            <i class='bx bxl-youtube text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}

      <!-- Behance -->
      {% if author.socialhandle.behance %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.behance}}">
            <i class='bx bxl-behance text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}


      <!-- Dribble -->
      {% if author.socialhandle.dribbble %}
      <li class="list-inline-item">
         <a href="{{author.socialhandle.dribbble}}">
            <i class='bx bxl-dribbble text-sm border p-1 rounded-circle'></i>
         </a>
      </li>
      {% endif %}
   </ul>
</div>

<div class="container mt-5">
   <div class="mt-5 pt-5">
      <h3 class="mb-4">Latest posts from {{author.get_full_name}}</h3>
      <div class="row gy-4" data-masonry='{"percentPosition": true }'>
         {% for x in '1000000000' %}

         <div class="col-4">
            <div class="card border-0 ">
               <!-- Card img -->
               <div class="position-relative ">
                  <img class="card-img" src="{% static 'img/4by3.jpg' %}" alt="Card image">
                  <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                     <!-- Card overlay Top -->
                     <div class="w-100 mb-auto d-flex justify-content-end">
                        <div class="text-end ms-auto">
                           <!-- Card format icon -->
                           <div class="icon-md bg-white bg-opacity-25 bg-blur text-white rounded-circle"
                              title="This post has video"><i class="fas fa-video"></i></div>
                        </div>
                     </div>
                     <!-- Card overlay bottom -->
                     <div class="w-100 mt-auto">
                        <!-- Card category -->
                        <a href="{% url 'categories' %}"
                           class="badge text-sm text-bg-blue mb-2 text-decoration-none font-outfit font-medium">
                           <i class="fa-solid fa-layer-group me-2"></i> Technology
                        </a>
                     </div>
                  </div>
               </div>
               <div class="card-body px-0 pt-3">
                  <h4 class="card-title">
                     <a href="post-single-3.html" class="btn-link text-reset fw-bold">
                        12 worst types of business accounts you follow on Twitter
                     </a>
                  </h4>
                  <p class="card-text">
                     assistance joy. Unaffected at ye of compliment alteration to
                  </p>
                  <!-- Card info -->
                  <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                     <li class="nav-item">
                        <div class="nav-link">
                           <div class="d-flex align-items-center position-relative">
                              <div class="avatar avatar-xs">
                                 <img class="avatar-img rounded-circle" src="{% static 'img/avatar.jpg' %}"
                                    alt="avatar">
                              </div>
                              <span class="ms-3">by <a href="#"
                                    class="stretched-link text-reset btn-link">Samuel</a></span>
                           </div>
                        </div>
                     </li>
                     <li class="nav-item">Jan 22, 2022</li>
                     <li class="nav-item">
                        <a href="#" class="btn-link">
                           <i class="fa-regular fa-comments me-1"></i> 5
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>

         {% endfor %}
      </div>
   </div>
</div>

{% elif reader %}

<div class="container-md mt-2">
   <div class="col-12">
      <div class="mb-4 position-relative z-index-9">
         <!-- Cover image -->
         <div class="py-5 rounded background-img rounded-lg h-200 " 
            {% if reader.background_image %}
               style="background-image: url('{{reader.background_image.url}}');" 
            {% else %}
               style="background-image: url('{% static "img/user/bkg_placeholder2.jpg" %}');" 
            {% endif %}>
         </div>
         <div class="card-body pb-0">
            <div class="row d-flex flex-column justify-content-between">
               <!-- Avatar -->
               <div class="col-sm-12 col-md-auto text-center text-md-start mx-auto">
                  <div class="avatar avatar-xxl mt-n7">
                     {% if reader.profile_picture %}
                     <img class="avatar-img rounded-circle border border-white border-3 pointer-events-none"
                        src="{{reader.profile_picture.url}}" alt="">
                     {% else %}
                     <img class="avatar-img rounded-circle border border-white border-3 pointer-events-none"
                        src="{% static 'img/user/custom.jpg' %}" alt="">
                     {% endif %}
                  </div>
               </div>                    
               <div
                  class="col-sm-12 mt-2 col-md text-center">
                  <div>
                     <!-- ? User fullname -->
                     <h4 class="m-0 p-0">
                        {{reader.get_full_name|default:"Firstname Lastname"}}               
                        {% if reader.usersettings.is_verified %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="verified-icon" viewBox="0 0 24 24">
                           <path
                              d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                           </path>
                        </svg>
                        {% endif %}
                     </h4>
                     <small class="font-medium text-gray-500">                        
                        @{{reader.get_username}}
                     </small>
                     <ul class="list-inline text-sm pt-1 mb-1">
                        <!-- ? User Job Title -->
                        {% if reader.job_title %}
                        <li class="list-inline-item">
                           <i class="fa-solid fa-user fa-sm me-1"></i>
                           {{reader.job_title}}
                        </li>
                        {% endif %}
               
                        <!-- ? User City -->
                        {% if reader.city %}
                        <li class="list-inline-item">
                           <i class="fa-solid fa-location-dot fa-sm me-1"></i>
                           {{reader.city}}
                        </li>
                        {% endif %}
                     </ul>
                     <p class="col-md-6 mx-auto text-gray-500 m-0 p-0 font-normal mb-3">
                        {{reader.bio}}
                     </p>
                  </div>               
                  <!-- Links -->
                  <div class="d-flex align-items-center justify-content-center">
                     {% if request.user.is_authenticated %}
                        <a href="#" class="btn btn-blue btn-sm">Follow</a>
                     {% else %}
                        <a href="{% url 'login' %}" class="btn btn-blue btn-sm">Follow</a>
                     {% endif %}
                  </div>
               </div>               
            </div>
         </div>
      </div>
   </div>
</div>

{% endif %}
<br><br>

{% endblock %}