{% extends 'base.html' %}
{% load static %}
{% block title %}
404 error
{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<section class="overflow-hidden">
   <div class="container">
      <div class="row">
         <div class="col-md-9 text-center mx-auto my-0 my-md-5 py-0 py-lg-5 position-relative z-index-9">            
            <!-- Content -->
            <h1 class="display-1 text-primary">404</h1>
            <h2>Page Not Found!</h2>
            <p>Either something went wrong or this page doesn't exist anymore.</p>
            <a 
               href="{% url 'home' %}" 
               class="btn btn-danger-soft mt-3 "
            >
               <i class="fas fa-long-arrow-alt-left me-2 fa-fw"></i>
               Back to home page
            </a>
         </div>
      </div>
   </div>
</section>

{% endblock %}