{% extends 'base.html' %}
{% load static %}
{% block title %}
Categories
{% endblock title %}
{% block styles %}
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<section style="background-image: url(../../../static/img/doodles.webp);background-attachment: fixed;">
   <div class="container-fluid" style="backdrop-filter: blur(2px) !important;">
      <div class="row">
         <div class="col-12 mx-auto d-grid align-content-center py-5 border-bottom my-shadow-sm">
            <div class="py-5 text-center rounded-3">
               <h5 class="text-3xl">Categories</h5>
               <div class="mt-2 text-md font-outfit font-medium d-flex align-items-center w-fit mx-auto">
                  <a href="{% url 'home' %}" class="text-decoration-none hero-link d-flex align-items-center">
                     <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="#000000b3"
                        class="d-inline-block me-1" viewBox="0 0 576 512">
                        <path
                           d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                     </svg>
                     Home
                  </a>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-2" width="5px" height="5px" fill="#000000b3"
                     viewBox="0 0 512 512">
                     <path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z" />
                  </svg>
                  <span class="text-gray-500">
                     All categories
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="position-relative pt-4 mt-5">
   <div class="container">
      <div class="row">
               
         <div class="col-lg-9">

            {% for post in category_posts %}
            <div class="card mb-4 p-3 border-0 up-hover">
               <div class="row">
                  <div class="col-md-5">
                     <img class="rounded-3 img-fluid" src="{{post.post_image.url}}" style="aspect-ratio: 4/3;object-fit: cover;" alt="Post Image">
                  </div>
                  <div class="col-md-7 mt-3 mt-md-0">
                     <a 
                        href="{% url 'category' post.category.slug %}" 
                        class="badge text-bg-{{post.category.color}} mb-2 text-decoration-none font-outfit font-medium"
                     >
                        <i class="fa-solid fa-layer-group me-2"></i>{{post.category.name}}
                     </a>
                     <div class="d-flex justify-content-between">                        
                        <h3 class="m-0 p-0 pb-2">
                           <a href="{% url 'blog:single_post' post.slug %}" class="btn-link text-reset">
                              {{post.post_title}}
                           </a>
                        </h3>
                        {% if request.user.is_authenticated %}
                        <div class="w-fit col-1">
                        
                           {% if request.user in post.bookmarks.all %}
                           <a href="{% url 'users:bookmarks' request.user.slug %}" class="text-decoration-none" data-bs-toggle="tooltip"
                              data-bs-title="Already in yourbookmarks" data-bs-placement="bottom">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path
                                    d="M16.8203 2H7.18031C5.05031 2 3.32031 3.74 3.32031 5.86V19.95C3.32031 21.75 4.61031 22.51 6.19031 21.64L11.0703 18.93C11.5903 18.64 12.4303 18.64 12.9403 18.93L17.8203 21.64C19.4003 22.52 20.6903 21.76 20.6903 19.95V5.86C20.6803 3.74 18.9503 2 16.8203 2ZM15.0103 9.75C14.0403 10.1 13.0203 10.28 12.0003 10.28C10.9803 10.28 9.96031 10.1 8.99031 9.75C8.60031 9.61 8.40031 9.18 8.54031 8.79C8.69031 8.4 9.12031 8.2 9.51031 8.34C11.1203 8.92 12.8903 8.92 14.5003 8.34C14.8903 8.2 15.3203 8.4 15.4603 8.79C15.6003 9.18 15.4003 9.61 15.0103 9.75Z"
                                    fill="#292D32" />
                              </svg>
                           </a>
                           {% else %}
                           <a href="{% url 'users:bookmark_add' request.user.slug post.id %}" class="text-decoration-none"
                              data-bs-toggle="tooltip" data-bs-title="Add to bookmarks" data-bs-placement="bottom">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M14.5 10.6499H9.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                 <path d="M12 8.20996V13.21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                 <path
                                    d="M16.8199 2H7.17995C5.04995 2 3.31995 3.74 3.31995 5.86V19.95C3.31995 21.75 4.60995 22.51 6.18995 21.64L11.0699 18.93C11.5899 18.64 12.4299 18.64 12.9399 18.93L17.8199 21.64C19.3999 22.52 20.6899 21.76 20.6899 19.95V5.86C20.6799 3.74 18.9499 2 16.8199 2Z"
                                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                           </a>
                           {% endif %}
                        
                        </div>
                        {% else %}
                        <div class="w-fit col-1">
                           <a href="{% url 'login' %}" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-title="Add to bookmarks"
                              data-bs-placement="bottom">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                 <path d="M14.5 10.6499H9.5" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                 <path d="M12 8.20996V13.21" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                 <path
                                    d="M16.8199 2H7.17995C5.04995 2 3.31995 3.74 3.31995 5.86V19.95C3.31995 21.75 4.60995 22.51 6.18995 21.64L11.0699 18.93C11.5899 18.64 12.4299 18.64 12.9399 18.93L17.8199 21.64C19.3999 22.52 20.6899 21.76 20.6899 19.95V5.86C20.6799 3.74 18.9499 2 16.8199 2Z"
                                    stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                           </a>
                        </div>
                        {% endif %}
                     </div>
                     <p>
                        {{post.short_description}}
                     </p>

                     <ul class="nav nav-divider align-items-center">
                        <li class="nav-item">
                           <div class="nav-link">
                              <div class="d-flex align-items-center position-relative">
                                 <div class="avatar avatar-xs">                                    
                                    {% if post.post_author.profile_picture %}
                                    <img class="avatar-img rounded-circle" src="{{post.post_author.profile_picture.url}}" alt="avatar">
                                    {% else %}
                                    <img class="avatar-img rounded-circle" src="{% static 'img/user/custom.jpg' %}" alt="avatar">
                                    {% endif %}
                                 </div>
                                 <span 
                                    class="ms-3">by 
                                    <a 
                                       href="{% url 'author_external' post.post_author.slug %}" 
                                       class="stretched-link text-reset btn-link"
                                       tabindex="0"
                                       data-bs-toggle="popover" 
                                       data-bs-trigger="hover focus" 
                                       data-bs-delay="500"
                                       data-bs-html="true" 
                                       data-bs-container="body"                                       
                                       data-bs-offset="10,20" 
                                       data-bs-placement="right"
                                       data-bs-content="
                                          <div class='custom-popover-content'>
                                             <div class='d-flex justify-content-between align-items-center'>
                                                <h6 class='font-cabin font-medium m-0 p-0'>
                                                   <a 
                                                      href='{% url 'author_external' post.post_author.slug %}'
                                                      class='text-reset btn-link'
                                                   >
                                                      {{post.post_author.get_full_name}}
                                                   </a>
                                                </h6>
                                                <small class='font-outfit text-sm text-gray-500'>@{{post.post_author.get_username}}</small>
                                             </div>
                                             <p class='font-light font-outfit text-sm m-0 p-0 mt-2'>
                                                {{post.post_author.bio|truncatewords:10}}
                                             </p>
                                             <hr class='m-0 p-0 my-2'>
                                             <div class='d-flex justify-content-between align-items-center'>
                                                <p class='m-0 p-0'>573 Followers</p>
                                                <a 
                                                   href=''
                                                   class='font-medium font-outfit text-xs btn btn-blue btn-sm rounded-pill'
                                                >
                                                   Follow
                                                </a>
                                             </div>
                                          </div>
                                       "
                                    >
                                       {{post.post_author.get_short_name}}
                                    </a>
                                 </span>
                              </div>
                           </div>
                        </li>
                        <li class="nav-item">{{post.date_posted|date:"dS M , Y"}}</li>
                        <li class="nav-item">
                           <a href="#" class="btn-link">
                              <i class="fa-regular fa-comments me-1"></i> 5
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            {% endfor %}

         </div>

         

         <div class="col-lg-3 mt-5 mt-lg-0 ">

            <div>
               <h4 class="mb-3">Trending topics</h4>

               {% for category in popular_categories %}

               <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded" style="
                        background-position: center left; 
                        background-size: cover;
                        background-image: url('{{category.category_image.url}}');
                     ">
                  <div class="bg-dark-overlay-4 p-3">
                     <a href="{% url 'category' category.slug %}"
                        class="stretched-link btn-link font-outfit font-medium text-white h5">
                        {{category.name}}
                     </a>
                  </div>
               </div>
               {% endfor %}
            </div>

         </div>

      </div>
   </div>
</section>

{% endblock %}