{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock title %}
{% block styles %}
<style>
   :root {
      --Iconsax-Size: 30px;
      --Iconsax-Color: #fff;
      --Iconsax-Fill: #fff;
   }
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}



<header class="page-hero d-grid align-content-center my-shadow border-bottom"
   style="background-image: url(../../../static/img/doodles.webp);">
   <div class="container-fluid " style="backdrop-filter: blur(2px) !important;">
      <div class="row">
         <div class="col-12 mx-auto d-grid align-content-center page-hero">
            <div class="p-2 text-center">
               <h5 class="text-3xl">
                  Contact Us
               </h5>
               <div class="mt-2 text-md font-outfit font-medium d-flex align-items-center w-fit mx-auto ">
                  <a href="{% url 'home' %}" class="text-decoration-none hero-link d-flex align-items-center">
                     <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" fill="#000000b3" class="d-inline-block me-1"
                        viewBox="0 0 576 512">
                        <path
                           d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z" />
                     </svg>
                     Home
                  </a>
                  <svg xmlns="http://www.w3.org/2000/svg" class="mx-3" width="5px" height="5px" fill="#000000b3" viewBox="0 0 512 512">
                     <path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512z" />
                  </svg>
                  <span class="text-gray-500">
                     Contact Us
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>


<div class="container-md px-4 px-md-5" style="margin-top: 70px;">
   <div class="row g-3">
      <div class="col col-sm-6 col-md-6 col-lg-4">
         <div class="p-3 px-4 border rounded-xl d-flex align-items-center ">
            <i class="iconsax h-fit contact-icon p-2 rounded-xl me-3" icon-name="phone"></i>
            <div>
               <h5 class="m-0 p-0">Phone</h4>
               <p class="m-0 p-0 text-md text-gray-500 font-lig">+234 903-456-7890</p>
            </div>
         </div>
      </div>
      <div class="col col-sm-6 col-md-6 col-lg-4">
         <div class="p-3 px-4 border rounded-xl d-flex align-items-center ">
            <i class="iconsax h-fit contact-icon p-2 rounded-xl me-3" icon-name="mail"></i>
            <div>
               <h5 class="m-0 p-0">E-mail</h4>
               <p class="m-0 p-0 text-md text-gray-500 font-lig">help@creativepen.com</p>
            </div>
         </div>
      </div>
      <div class="col col-sm-6 col-md-6 col-lg-4">
         <div class="p-3 px-4 border rounded-xl d-flex align-items-center ">
            <i class="iconsax h-fit contact-icon p-2 rounded-xl me-3" icon-name="map-1"></i>
            <div>
               <h5 class="m-0 p-0">Location</h4>
               <p class="m-0 p-0 text-md text-gray-500 font-lig">Lagos, Nigeria</p>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="container px-5" style="margin-top: 160px;">
   <div class="row gx-5 contact-form-section">
      <div class="col-md-5">
         <div class="border bg-light contact-form-image"></div>
      </div>

      <!-- ? Contact Form -->
      <div
         class="col-md-7 mt-5 mt-md-0 py-5 py-md-0 col-12 d-grid align-content-center contact-form">
         <div class="">

            <form class="container px-lg-4 px-md-3 px-3" method="POST">
               <h3 class="mb-4 d-flex align-items-center text-capitalize">                  
                  Send us a message
               </h3>
               {% csrf_token %}
               <!-- ! First and Last Names -->
               <div class="row g-2">
                  <div class="col">
                     <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name"
                           name="name" placeholder="" autocomplete="off" required>
                        <label class="" for="name">Name</label>
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email"
                           placeholder="" autocomplete="off" required>
                        <label class="" for="email">Email address</label>
                     </div>
                  </div>
               </div>

               <!-- ! Email address -->
               <div class="row gx-3">
                  <div class="col">
                     <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="" autocomplete="off" required>
                        <label class="" for="subject">Subject</label>
                     </div>
                  </div>
               </div>

               <!-- ! Message -->
               <div class="row gx-3">
                  <div class="col">
                     <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="" id="message"
                           name="message" style="height: 150px;resize: none;" autocomplete="off" required></textarea>
                        <label class="" for="message">Message</label>
                     </div>
                  </div>
               </div>

               <div class="w-fit ms-auto mt-3">
                  <button type="submit" class="btn btn-red font-semibold">
                     Submit
                  </button>
               </div>

            </form>

         </div>
      </div>

   </div>
</div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>

{% endblock content %}