{% extends 'base.html' %}
{% load static %}
{% block title %}
Category - {{category.name}}
{% endblock title %}
{% block styles %}
<style>
   
</style>
{% endblock styles %}
{% block content %}
{% include 'partials/messages.html' %}


<section class="">
   <div class="">
      <div class="row">
         <div class="col-12">
            <div 
               class="card bg-dark-overlay-4 overflow-hidden card-bg-scale h-350 text-center rounded-0 border-0"
               {% if category.category_image %}
               style="
                  background-position: center left; 
                  background-size: cover; 
                  background-image: url('{{category.category_image.url}}');
               "                  
               {% else %}
                  style="
                  background-position: center left; 
                  background-size: cover; 
                  background-image: url('{% static "img/user/bkg_placeholder1.jpg" %}');
               "
               {% endif %}
            >
               <!-- Card Image overlay -->
               <div class="card-img-overlay d-flex align-items-center p-3 p-sm-4">
                  <div class="w-100 my-auto">
                     <p class="text-white mb-3">
                        Browsing category:
                     </p>
                     <h1 class="text-white h5">
                        <span 
                           {% if category.color %}
                              class="badge text-bg-{{category.color}} mb-2 font-medium text-capitalize"
                           {% else %}                              
                              class="badge text-bg-dark mb-2 font-medium text-capitalize"
                           {% endif %}
                        >
                           <i class="fa-solid fa-layer-group me-2 "></i>
                           {{category.name}}
                        </span>
                     </h1>
                     <div class="text-center position-relative">
                        <span class="badge text-bg-light text-sm font-outfit font-medium">14 posts</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% endblock %}