{% extends 'account/auth_base.html' %}
{% load static %}
{% block title %}
Login | Creative Pen
{% endblock title %}
{% block auth_main %}
{% include 'partials/messages.html' %}

<div class="col bg-light">
   <div class="p-0 p-md-0 p-lg-3 login-right h-full gap-4">
      <!-- <i class="iconsax text-black" icon-name="receive-square"></i> -->
      <div class="d-grid" style="place-content: center;">
         <a href="{% url 'home' %}" class="mx-auto">
            <img src="{% static 'img/tmp1.png' %}" class="img-fluid mx-auto" width="40px" alt="Logo">
         </a>
         <h3 class="text-center m-0 p-0">Login to your account</h3>
      </div>

      <form action="{% url 'login' %}" method="POST" class="login-form mx-auto mt-3 rounded-md p-3 p-md-1 p-lg-4 ">
         {% csrf_token %}

         <fieldset class="my-2">
            <label for="email_username">Username or Email</label>
            <div class="form-group input-icon-group mt-2">               
               <svg class="input-icon text-black-50 ms-2" style="width: 19px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                     d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
               </svg>
               <input type="text" id="email_username" class="form-control" placeholder="john@email.com | john doe"
                  name="username_or_email" title="Username or Email" autocomplete="off" required>
            </div>
         </fieldset>

         <fieldset class="my-2 mb-3">
            <label for="password">Password</label>
            <div class="form-group input-icon-group mt-2">               
               <svg class="input-icon text-black-50 ms-2" style="width: 16px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                     d="M144 144c0-44.2 35.8-80 80-80c31.9 0 59.4 18.6 72.3 45.7c7.6 16 26.7 22.8 42.6 15.2s22.8-26.7 15.2-42.6C331 33.7 281.5 0 224 0C144.5 0 80 64.5 80 144v48H64c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H144V144z" />
               </svg>
               <input type="password" id="password" class="form-control" placeholder="******" name="password"
                  autocomplete="off" title="Password" required>
            </div>
         </fieldset>

         <div class="d-grid">
            <a href="" class="auth-link w-fit ms-auto font-outfit text-sm text-black opacity-75">
               Forgot password ?
            </a>
         </div>

         <div class="d-grid ms-auto mt-4">
            <button type="submit" class="btn btn-blue font-semibold">Sign In</button>

            <p class="text-center mt-3 text-md">
               Not registered? <a href="{% url 'register' %}" class="auth-link text-black font-medium">Create
                  Account</a>
            </p>
         </div>


      </form>
   </div>
</div>

{% endblock %}