<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {% block title %}{% endblock title %} | Creative Pen</title>
   <link rel="shortcut icon" href="{% static 'img/imagex.jpg' %}" type="image/x-icon">

   <!-- ? jQuery -->
   <script src="{% static 'vendor/js/jquery.min.js' %}"></script>

   <!-- ? Quill editor form media -->
   {{ form.media }}

   <!-- ? Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

   <!-- ? Icons -->
   <script src="https://kit.fontawesome.com/c9b2dff50a.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <script src="//glenthemes.github.io/iconsax/geticons.js"></script>
   <link href="//glenthemes.github.io/iconsax/style.css" rel="stylesheet">

   <!-- ? Vendors -->
   <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/css/selectize.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/css/selectize.bootstrap5.min.css' %}">
   <link rel="stylesheet" href="{% static 'vendor/css/flatpickr.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/config.css' %}">   

   <!-- ? Custom Styles -->
   {% block styles %}

   {% endblock styles %}
</head>

<body id="body">

   {% include 'partials/navbar.html' %}
   {% block content %}

   {% endblock content %}

   {# {% include 'partials/footer.html' %} #}


   <!-- * Vendors -->
   <script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'vendor/js/selectize.min.js' %}"></script>
   <script src="{% static 'vendor/js/masonry.pkgd.min.js' %}"></script>
   <script src="{% static 'vendor/js/flatpickr.js' %}"></script>
   <script src="{% static 'js/script.js' %}"></script>

   <!-- * Custom Scripts -->
   <script>
      

   </script>
</body>

</html>