<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {% block title %}{% endblock title %} | Creative Pen</title>
   <link rel="shortcut icon" href="{% static 'img/imagex.jpg' %}" type="image/x-icon">

   <!-- * Fonts -->
   <link rel="stylesheet" href="https://use.typekit.net/pjw0trz.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="stylesheet" href="https://use.typekit.net/pjw0trz.css">
   <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">

   <!-- ? Icons -->
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

   <!-- * Vendors -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/config.css' %}">

   <!-- * Custom Styles -->
   {% block styles %}
      
   {% endblock styles %}
</head>
<body>

   {% include 'partials/navbar.html' %}
   {% block content %}
      
   {% endblock content %}
   <!-- * Vendors -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   
   <!-- * Custom Scripts -->
   
</body>
</html>
